{% load i18n %}

<h2 class="h3 pb-1">
    {% translate "The next step is to enroll the contactless card you will use to tap to ride for a reduced fare." %}
</h2>

<p>
    {% translate "You will be directed to our partner, " %}
    <!-- djlint:off --><a href="modal--littlepay" class="{{ classes }}" data-bs-toggle="modal" data-bs-target="#modal--littlepay">Littlepay</a>{% translate ", to enter your contactless card details." %}<!-- djlint:on -->
    {% translate "We don’t store your information, and you won’t be charged." %}
</p>
<p class="pt-4">{% translate "Please use a debit or credit card by Visa or Mastercard." %}</p>

{% include "enrollment/includes/modal--littlepay.html" with id="modal--littlepay" size="modal-md" header="p-md-2 p-3" body="pb-md-3 mb-md-3 mx-md-3 py-0 pt-0 absolute-top" %}
