{% load i18n %}

<h2 class="h3 pb-1">{% translate "The next step is to connect your contactless card to your transit benefit" %}</h2>

<p class="mb-4">
    {% translate "You will be directed to our payment partner, " %}
    {% include "core/includes/modal-trigger.html" with modal="modal--littlepay" text="Littlepay" period=True %}
    {% translate "We don’t store your information, and you won’t be charged." %}
</p>

{% include "enrollment/includes/modal--littlepay.html" with id="modal--littlepay" size="modal-md" header="p-md-2 p-3" body="pb-md-3 mb-md-3 mx-md-3 py-0 pt-0 absolute-top" %}
