{% extends "core/includes/media-item.html" %}
{% load i18n %}

{% block icon %}
    {% translate "Bank card icon with contactless symbol and checkmark" context "image alt text" as icon_alt %}
    {% include "core/includes/icon.html" with name="bankcardcheck" alt=icon_alt %}
{% endblock icon %}

{% block heading %}
    {% translate "The next step is to connect your contactless card to your transit benefit" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "You will be directed to our payment partner, " %}
            {% translate "We don’t store your information, and you won’t be charged." %}
            {% include "core/includes/modal-trigger.html" with modal="modal--littlepay" text="Littlepay" period=True %}
        </p>
        <p>{% translate "Please use a debit or credit card by Visa or Mastercard." %}</p>
    </div>

    {% include "enrollment/includes/modal--littlepay.html" with id="modal--littlepay" size="modal-md" %}
{% endblock body %}
