{% extends "core/includes/media-item.html" %}
{% load i18n %}

{% block icon %}
    {% translate "core.icons.bankcardcheck" context "image alt text" as icon_alt %}
    {% include "core/includes/icon--direct-args.html" with name="bankcardcheck" alt=icon_alt %}
{% endblock icon %}

{% block heading %}
    {% translate "enrollment.pages.index.link_card_item.heading" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "enrollment.pages.index.link_card_item.p[0]s[0]" %}
            {% include "core/includes/modal-trigger-link.html" with id="littlepay-modal" classes="modal-trigger--link" text="Littlepay" %}
            .
            {% translate "enrollment.pages.index.link_card_item.p[0]s[1]" %}
        </p>
        <p>{% translate "enrollment.pages.index.link_card_item.p[1]s[0]" %}</p>
    </div>

    {% include "enrollment/includes/modal--littlepay.html" with id="littlepay-modal" size="modal-md" %}
{% endblock body %}
