{% extends "core/includes/media_item.html" %}
{% load i18n %}

{% block icon %}
    {% translate "core.icons.bankcardcheck" context "image alt text" as icon_alt %}
    {% include "core/includes/icon__direct_args.html" with name="bankcardcheck" alt=icon_alt %}
{% endblock icon %}

{% block heading %}
    {% translate "enrollment.pages.index.link_card_item.heading" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "enrollment.pages.index.link_card_item.p[0]s[0]" %}
            <button type="button" class="modal-trigger--link" data-bs-toggle="modal" data-bs-target="#littlepay-modal">Littlepay</button>
            .
            {% translate "enrollment.pages.index.link_card_item.p[0]s[1]" %}
        </p>
        <p>{% translate "enrollment.pages.index.link_card_item.p[1]s[0]" %}</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="littlepay-modal" tabindex="-1" aria-labelledby="littlepay-modal" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0 p-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0 mt-0 p-4 m-2">
                    <h2 id="littlepay-modal">{% translate "enrollment.pages.index.modal.title" %}</h2>
                    <div class="row">
                        <p class="pt-3">{% translate "enrollment.pages.index.modal.p[0]" %}</p>
                        <p class="pt-4">{% translate "enrollment.pages.index.modal.p[1]" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
