{% extends "core/includes/modal-info.html" %}
{% load i18n %}
{% load static %}

{% block modal-content %}
    <h2 id="littlepay-modal">{% translate "enrollment.pages.index.modal.title" %}</h2>
    <div class="row">
        <p class="pt-3">{% translate "enrollment.pages.index.modal.p[0]" %}</p>
        <p class="pt-4">{% translate "enrollment.pages.index.modal.p[1]" %}</p>
        <p class="pt-4 d-block d-sm-none">
            <a href="#" data-bs-dismiss="modal" aria-label="Close">{% translate "core.modals.back" %}</a>
        </p>
    </div>
{% endblock modal-content %}
