{% extends "core/page.html" %}
{% load static %}
{% block paragraph_content %}
<p>Your discount is now linked to your bank card. You were not charged anything today.</p>
<p>When boarding transit, pay with this same card, and your discount will automatically be applied to your fare purchase.</p>
<p>To add or edit your bank cards, <a href="#" target="_blank">go to the Littlepay website</a>.</p>
<p>
    <img class="img-fluid" src="{% static 'img/riderboardingbusandtapping.svg' %}" alt="Image caption goes here" />
</p>
{% endblock %}
