{% extends "core/page.html" %}
{% load i18n %}
{% load static %}
{% block paragraph_content %}
<p>{% translate "discounts.success.p1" %}</p>
<p>{% translate "discounts.success.p2" %}</p>
<p>{% translate "discounts.success.p3.text" %}, <a href="#" target="_blank">{% translate "discounts.success.p3.link" context "link text" %}</a>.</p>
<p>
    <img class="img-fluid" src="{% static 'img/riderboardingbusandtapping.svg' %}" alt="{% translate "discounts.success.image" context "image alt text" %}" />
</p>
{% endblock %}
