<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
<style>
  body {
    color: #535456;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
  }

  h1 {
    color: #212121;
    font-size: 24px;
  }

  a {
    color: unset;
  }

  .message-body {
    max-width: 576px;
  }

  .link-wrapper {
    padding: 16px 0px;
  }

  .link-button {
    background: #025B86;
    border-radius: 16px;
    color: #fff;
    font-weight: 700;
    padding: 8px 16px;
    text-decoration: none;
  }

  .divider {
    border: 2px solid #ECEFF1;
  }
</style>

{% autoescape off %}
  <h1>Your reset password link</h1>
  <div class="message-body">
    <p>
      Click the button below to reset the password for your Cal-ITP Benefits Administrator account. This link will expire in 24 hours and can only be used once.
    </p>
    <div class="link-wrapper">
      <a class="link-button" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset your password
      </a>
    </div>
    <p>
      If the button above doesn't work, paste this link into your web browser:
      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
      </a>
    </p>
    <p>If you did not make this request, you can safely ignore this email.</p>
  </div>
  <hr class="divider" />
  <p>
    Sent by <a href="https://calitp.org">California Integrated Travel Project</a> California Department of Transportation 1120 N Street Sacramento, CA 95814
  </p>
{% endautoescape %}
