{% extends "admin/login.html" %}

{% block title %}
  {% if form.email.errors %}Error:{% endif %}
  {{ block.super }}
{% endblock title %}

{% block content %}

  <h1>Reset password</h1>
  <p>Enter your email and we’ll send you a link to reset your password.</p>

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}<p class="errornote">{{ error }}</p>{% endfor %}
  {% endif %}

  <form method="post" id="reset-form">
    {% csrf_token %}
    <div class="form-row field-email">
      {{ form.email.errors }}
      <div class="flex-container">
        <label for="id_email">Email</label>
        {{ form.email }}
      </div>
    </div>
    <div class="submit-row">
      <input type="submit" value="Send password reset link">
    </div>

    {% if request.recaptcha %}
      {% include "core/includes/recaptcha.html" %}
    {% endif %}
  </form>

{% endblock content %}
