[data-md-color-scheme="default"] {
  --md-primary-fg-color: #045b86;
  --md-accent-fg-color: #044869;
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 1);
  --md-footer-bg-color: hsla(0, 0%, 0%, 1);
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 1);
  --md-code-hl-comment-color: #0071ce;
  --md-mermaid-label-fg-color: #000000;
}

a:not(.md-nav__link):not(.headerlink):not(.md-tabs__link) {
  text-decoration: underline dotted currentColor auto;
}

.md-tabs__link {
  opacity: 1;
}
