{% extends "error-base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Start over" %}
{% endblock page-title %}

{% block icon %}
  {% include "core/includes/icon.html" with name="sadbus" %}
{% endblock icon %}

{% block headline-text %}
  {% translate "You may have reached this page on accident." %}
{% endblock headline-text %}

{% block paragraphs %}
  <p>
    {% translate "To get started with Cal-ITP Benefits please click the button below, and you will be directed to the beginning of the enrollment process." %}
  </p>
{% endblock paragraphs %}

{% block call-to-action-button %}
  {% translate "Start Here" as button_text %}
  {% include "core/includes/button--index.html" with button_text=button_text %}
{% endblock call-to-action-button %}
