{% extends "core/base.html" %}

{% block inner-content %}
  <div class="col-lg-6">
    <div class="mt-5 pt-4 text-center">
      {% block icon %}
      {% endblock icon %}
    </div>
    <h1 class="h2 py-4">
      {% block headline-text %}
      {% endblock headline-text %}
    </h1>
    {% block paragraphs %}
    {% endblock paragraphs %}
  </div>
{% endblock inner-content %}

{% block call-to-action-button %}
  {% include "core/includes/button--origin.html" %}
{% endblock call-to-action-button %}
