{% extends "core/base.html" %}

{% load i18n %}

{% block page-title %}
  {% translate "Eligibility confirmation" %}
{% endblock page-title %}

{% block nav-buttons %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}
{% endblock nav-buttons %}

{% block headline %}
  <h1 class="pb-4">{{ headline }}</h1>
{% endblock headline %}

{% block inner-content %}
  {% block paragraphs %}
    <h2 class="h3 pb-1">{{ next_step }}</h2>
    <p>
      {% translate "You will be directed to our partner, " %}
      <!-- djlint:off --><a href="modal--transit-processor" class="{{ classes }}" data-bs-toggle="modal" data-bs-target="#modal--transit-processor">{{ transit_processor.name }}</a>{{ partner_post_link }}<!-- djlint:on -->
      {% translate "We don’t store your information, and you won’t be charged." %}
    </p>
    <div class="mt-4">
      {% if alert_include %}
        {% include alert_include %}
      {% else %}
        <p>{% translate "Please use a debit or credit card by Visa or Mastercard." %}</p>
      {% endif %}
    </div>
    {% include "enrollment/includes/modal--transit-processor.html" with id="modal--transit-processor" size="modal-md" header="p-md-2 p-3" body="pb-md-3 mb-md-3 mx-md-3 py-0 pt-0 absolute-top" transit_processor=transit_processor %}
  {% endblock paragraphs %}

  {% block enrollment-form %}
  {% endblock enrollment-form %}
{% endblock inner-content %}

{% block call-to-action-button %}
  <button type="button" class="btn btn-primary btn-lg loading" role="status" disabled>{% translate "Please wait..." %}</button>
  <div class="invisible">
    <button id="{{ cta_button }}" href="#{{ cta_button }}" class="btn btn-lg btn-primary" role="button">
      {% translate "Enroll" %}
    </button>
  </div>
{% endblock call-to-action-button %}
