{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Enrollment error" %}
{% endblock page-title %}

{% block main-content %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="mt-5 py-4 text-center">{% include "core/includes/icon.html" with name="calendarcheck" %}</div>
        <h1 class="h2 pt-0 pb-4">{% translate "You are still enrolled in this benefit" %}</h1>
        {% block error-message %}
        {% endblock error-message %}
      </div>

      <div class="row pt-8 justify-content-center">
        <div class="col-lg-6">{% include "core/includes/button--index.html" %}</div>
      </div>
    </div>
  </div>
{% endblock main-content %}
