{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Enrollment error" %}
{% endblock page-title %}

{% block inner-content %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}
  <div class="col-lg-6">
    <div class="mt-5 pt-4 text-center">{% include "core/includes/icon.html" with name="calendarcheck" %}</div>
    <h1 class="h2 py-4">{% translate "You are still enrolled in this benefit" %}</h1>
    {% block paragraphs %}
    {% endblock paragraphs %}
  </div>
{% endblock inner-content %}

{% block call-to-action-button %}
  {% include "core/includes/button--origin.html" %}
{% endblock call-to-action-button %}
