{% extends "error.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Enrollment error" %}
{% endblock page-title %}

{% block nav-buttons %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}
{% endblock nav-buttons %}

{% block icon %}
  {% include "core/includes/icon.html" with name="calendarcheck" %}
{% endblock icon %}

{% block headline-text %}
  {% translate "You are still enrolled in this benefit" %}
{% endblock headline-text %}

{% block paragraphs %}
{% endblock paragraphs %}

{% block call-to-action-button %}
  {% include "core/includes/button--origin.html" %}
{% endblock call-to-action-button %}
