{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Unable to register card" %}
{% endblock page-title %}

{% block main-content %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}

  <div class="container">
    <h1 class="h2 text-center">
      <span class="icon d-block pb-4">{% include "core/includes/icon.html" with name="bankcardquestion" %}</span>
      {% translate "The card information may not have been entered correctly." %}
    </h1>

    <div class="row justify-content-center">
      <div class="col-lg-8 pt-4">
        <p>{% translate "Please check the details on your card and try again, or contact your transit agency for help." %}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">{% include "core/includes/agency-links.html" %}</div>
    </div>

    <div class="row pt-8 justify-content-center">
      <div class="col-lg-3 col-8">
        {% translate "Try again" as button_text %}
        {% include "core/includes/button--origin.html" with button_text=button_text %}
      </div>
    </div>

  </div>
{% endblock main-content %}
