{% extends "error.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Unable to enroll card" %}
{% endblock page-title %}

{% block nav-buttons %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}
{% endblock nav-buttons %}

{% block icon %}
  {% include "core/includes/icon.html" with name="bankcardquestion" %}
{% endblock icon %}

{% block headline-text %}
  {% translate "The card information may not have been entered correctly." %}
{% endblock headline-text %}

{% block paragraphs %}
  <p>{% translate "Please check the details on your card and try again, or contact your transit agency for help." %}</p>
  {% include "core/includes/agency-links.html" %}
{% endblock paragraphs %}

{% block call-to-action-button %}
  {% translate "Try again" as button_text %}
  {% include "core/includes/button--origin.html" with button_text=button_text %}
{% endblock call-to-action-button %}
