{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Unable to register card" %}
{% endblock page-title %}

{% block main-content %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}

  <div class="container">
    <h1 class="h2 text-center">
      {% translate "Bank card icon with contactless symbol and question mark" context "image alt text" as alt_i18n %}
      <span class="icon d-block pb-5">{% include "core/includes/icon.html" with name="bankcardquestion" alt=alt_i18n %}</span>
      {% translate "We couldn’t connect your bank card" %}
    </h1>

    <div class="row justify-content-center">
      <div class="col-lg-8 pt-4">
        <p>{% translate "You can try again or reach out to your transit provider for assistance." %}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">{% include "core/includes/agency-links.html" %}</div>
    </div>

    {% if retry_button %}
      <div class="row pt-8 justify-content-center">
        <div class="col-lg-3 col-8">
          {% translate "Try again" as button_text %}
          {% include "core/includes/button--origin.html" with button_text=button_text %}
        </div>
      </div>
    {% endif %}

  </div>
{% endblock main-content %}
