{% extends "enrollment/success.html" %}
{% load i18n %}

{% block success-message %}
  {% blocktranslate trimmed %}
    Your contactless card is now enrolled in an MST Courtesy Card transit benefit. When boarding an MST bus, tap this card and you will be
    charged a reduced fare. You will need to re-enroll if you choose to change the card you use to pay for transit service.
  {% endblocktranslate %}
{% endblock success-message %}

{% block thank-you-message %}
  {% blocktranslate trimmed %}
    You were not charged anything today. Thank you for using Cal-ITP Benefits!
  {% endblocktranslate %}
{% endblock thank-you-message %}
