{% extends "core/page.html" %}

{% load i18n %}
{% load static %}

{% block classes %}
  {{ block.super |add:" enrollment-success" }}
{% endblock classes %}

{% block buttons %}
  {% if page.buttons|length_is:"1" %}
    <p>
      <span>{% translate "enrollment.pages.success.logout[0]" %}</span>
      {% for b in page.buttons %}
        <a id="{{ b.id }}" class="{{ b.classes | join:" " }}" style="display: inline-block;" href="{{ b.url }}" role="b">
          <span class="fallback-text">{{ b.fallback_text }}</span>
        </a>
      {% endfor %}
      <span>{% translate "enrollment.pages.success.logout[1]" %}</span>
    </p>
  {% endif %}
{% endblock buttons %}
