{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Enrollment system down" %}
{% endblock page-title %}

{% block main-content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="mt-5 py-4 text-center">{% include "core/includes/icon.html" with name="bankcardquestion" %}</div>
        <h1 class="h2 pt-0 pb-4">{% translate "Our enrollment system is not working right now." %}</h1>
        <p>
          {% translate "We’re working to solve the problem. Please wait 48 hours and try to enroll again, or contact your transit agency for help." %}
        </p>
        <p>{% include "core/includes/agency-links.html" %}</p>
      </div>
    </div>

    <div class="row pt-8 justify-content-center">
      <div class="col-lg-6">
        {% if authentication and authentication.sign_out_link_template %}
          {% translate "Sign out of" as button_text %}
          <a href="{% url routes.OAUTH_LOGOUT %}" class="btn btn-lg btn-primary login">
            {{ button_text }} <span class="fallback-text white-logo">Login.gov</span>
          </a>
        {% else %}
          {% include "core/includes/button--origin.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock main-content %}
