
# Temporary local pin to work around bug in click>=8.2.2 that breaks watching.
# See: https://github.com/squidfunk/mkdocs-material/issues/8478
#      https://github.com/mkdocs/mkdocs/issues/4032
#      https://github.com/pallets/click/issues/3084
# Remove when a fixed version of Click has been released
click==8.2.1
mdx_truly_sane_lists
mkdocs==1.6.1
mkdocs-awesome-pages-plugin
mkdocs-macros-plugin
mkdocs-material==9.6.21
mkdocs-redirects
