@import "../variables.css";

/* Buttons */
/* Note: This button style has now diverged from Benefit's */
/* Primary Button: Use all three classes: btn btn-lg btn-primary */
/* Outline Primary Button: Use all three classes: btn btn-lg btn-outline-primary */
/* Set button width in parent with Bootstrap column */
/* Font size: 16px (1rem) */
/* Height: 48px (3rem - composed of 16px padding top and bottom, 16px font size) */
/* Sizing same across Desktop and Mobile */

:root {
  --primary-button-padding: 1rem 0;
}

.btn.btn-lg.btn-outline-primary:not(:hover) {
  color: var(--primary-color);
}

.login input[type="submit"],
.btn.btn-lg.btn-primary {
  background-color: var(--primary-color);
}

.btn.btn-lg.btn-primary,
.login input[type="submit"],
.btn.btn-lg.btn-outline-primary {
  border-color: var(--primary-color);
  border-radius: 2px;
  border-width: 2px;
  font-weight: var(--medium-font-weight);
  font-size: var(--font-size-16px);
  letter-spacing: calc(var(--font-size-16px) * var(--letter-spacing-2));
  width: 100%;
  padding: var(--primary-button-padding);
  line-height: 1;
}

.btn.btn-lg.btn-primary:hover,
.login input[type="submit"]:hover,
.btn.btn-lg.btn-outline-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn.btn-lg.btn-primary:focus,
.btn.btn-lg.btn-primary:focus-visible,
.btn.btn-lg:focus,
.btn.btn-lg:focus-visible,
.btn-outline-dark:focus,
.btn-outline-dark:focus-visible,
.btn-outline-light:focus,
.btn-ouline-dark:focus-visible,
input[type="text"]:focus,
input[type="password"]:focus,
a.sso-login-btn:focus,
.login input[type="submit"]:focus {
  outline: var(--focus-style-dark) !important;
  outline-offset: 2px !important;
  box-shadow: none !important; /* override CA State Web Template */
  text-decoration: none;
}

.btn-text {
  font-weight: var(--medium-font-weight);
  font-size: var(--font-size-16px);
  letter-spacing: calc(var(--font-size-16px) * var(--letter-spacing-2));
}

/* Eligibility Page:  In-person Enrollment */
/* Checkbox form fields should show the checkbox first, then label */
.form-field-container.in-person-eligibility-form
  .form-group:has(input[type="checkbox"]) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 2rem;
}

.form-field-container.in-person-eligibility-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-field-container.in-person-eligibility-form
  .form-group:has(div):has(label)
  div {
  margin-top: 1rem;
}

/* Enrollment Page*/
iframe.card-collection {
  border: 0px;
  width: 100%;
  height: 60vh;
}

/* Enrollment Success Page */
.success-icon {
  background-color: var(--bs-success);
  mask: url("../../../static/img/icon/check-circle-fill.svg") no-repeat;
  -webkit-mask: url("../../../static/img/icon/check-circle-fill.svg") no-repeat;

  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: calc(12rem / 16);
}

.min-vh-60 {
  min-height: 60vh;
}

/* Error Pages */
.error-icon {
  background-color: var(--bs-danger);
  mask: url("../../../static/img/icon/exclamation-circle-fill.svg") no-repeat;
  -webkit-mask: url("../../../static/img/icon/exclamation-circle-fill.svg")
    no-repeat;

  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: calc(12rem / 16);
}

/* Login Page */

.login #container {
  background: var(--body-bg);
  border: 1px solid var(--hairline-color);
  width: 28em;
  min-width: 300px;
  margin: 100px auto;
  height: auto;
}

.login form {
  display: grid;
  gap: 1em;
}

.login .form-row label {
  display: block;
  line-height: 2em;
}

.login .form-row input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login #content .password-reset-link a:link,
.login #content .password-reset-link a:visited {
  color: var(--primary-color);
  font-weight: var(--bs-body-font-weight);
}

.login .clear {
  display: none;
}

/* Login Page link styles */
.login a:not(.btn):not(.sso-login-btn) {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: var(--bold-font-weight);
  border-radius: var(--focus-border-radius);
}

.login a:visited:not(.btn):not(.sso-login-btn) {
  color: var(--selected-color);
}

.login a:hover:not(.btn):not(.sso-login-btn) {
  color: var(--hover-color);
  text-decoration: underline;
}

.login a:focus:not(.btn):not(.sso-login-btn),
.login a:focus-visible:not(.btn):not(.sso-login-btn) {
  outline: var(--focus-style-dark) !important;
  outline-offset: var(--focus-outline-offset) !important;
}

:root {
  --external-link-icon-size: var(--font-size-16px);
}

.login a[target="_blank"]::after {
  content: " ";
  background-color: currentColor;

  mask-image: url("/static/img/external-link.svg"),
    linear-gradient(transparent, transparent);
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url("/static/img/external-link.svg"),
    linear-gradient(transparent, transparent);
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;

  display: inline-block;
  position: relative;
  width: var(--external-link-icon-size);
  height: var(--external-link-icon-size);
  margin-left: 2px;
  vertical-align: text-bottom;
}

/* reCAPTCHA: Do not display badge */
.grecaptcha-badge {
  display: none;
}

/* Login form SSO button */

a.sso-login-btn {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--bs-primary);
  border-radius: 2px;
  background-color: var(--bs-white);
  color: var(--bs-primary);
  font-weight: var(--medium-font-weight);
  font-size: var(--font-size-16px);
  line-height: 1;
}

a.sso-login-btn:hover {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  transition: all 0.15s; /* Matching standard Django Admin button style seen on main log in button */
}

.sso-login-btn-logo {
  margin-right: 0.5rem;
}

/* Login Page: Django messages style overrides */

.login ul.messagelist {
  width: 300px; /* Matches min-width of main container. */
  position: absolute;
  top: -69px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #53b3e2;
  border-radius: 2px;
  text-align: center;
}

.login ul.messagelist li {
  padding: 8px 12px;
  margin: 0;
  background: #fff;
}

.login ul.messagelist li:not(:first-child) {
  margin-top: 8px 0 0 0;
}
