@import "../variables.css";

/* Buttons */
/* Primary Button: Use all three classes: btn btn-lg btn-primary */
/* Outline Primary Button: Use all three classes: btn btn-lg btn-outline-primary */
/* Set button width in parent with Bootstrap column */
/* Height: 60px on Desktop; 72 on mobile*/

:root {
  --primary-button-padding: 19px 0;
}

@media (min-width: 992px) {
  :root {
    --primary-button-padding: 13px 0;
  }
}

.btn.btn-lg.btn-outline-primary:not(:hover) {
  color: var(--primary-color);
}

.btn.btn-lg.btn-primary {
  background-color: var(--primary-color);
}

.btn.btn-lg.btn-primary,
.btn.btn-lg.btn-outline-primary {
  border-color: var(--primary-color);
  border-width: 2px;
  font-weight: var(--medium-font-weight);
  font-size: var(--font-size-20px);
  letter-spacing: calc(var(--font-size-20px) * var(--letter-spacing-2));
  width: 100%;
  padding: var(--primary-button-padding);
}

.btn.btn-lg.btn-primary:hover,
.btn.btn-lg.btn-outline-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn.btn-lg.btn-primary:focus,
.btn.btn-lg.btn-primary:focus-visible,
.btn.btn-lg:focus,
.btn.btn-lg:focus-visible,
.btn-outline-dark:focus,
.btn-outline-dark:focus-visible,
.btn-outline-light:focus,
.btn-ouline-dark:focus-visible {
  outline: 3px solid var(--focus-color) !important;
  outline-offset: 2px !important;
  box-shadow: none !important; /* override CA State Web Template */
  text-decoration: none;
}

.btn-text {
  font-weight: var(--medium-font-weight);
  font-size: var(--font-size-20px);
  letter-spacing: calc(var(--font-size-20px) * var(--letter-spacing-2));
}

html[data-theme="light"],
:root {
  --primary: #ffffff;
  --secondary: var(--dark-color);
  --link-fg: #ffffff;
  --body-quiet-color: var(--dark-color);
}

#user-tools,
#logout-form button {
  text-transform: unset;
}

.checkbox-parent .form-group:last-of-type .col-12 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  column-gap: 0.5rem;
  margin-top: 2rem;
}

.checkbox-parent,
.checkbox-parent .form-group .col-12,
.checkbox-parent .form-group .col-12 #id_flow {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Enrollment */
iframe.card-collection {
  border: 0px;
  width: 100%;
  height: 60vh;
}
