/* CSS Variable overrides */

html[data-theme="light"],
:root {
  --primary: #ffffff;
  --bs-body-font-size: 1rem;
  --button-bg: #ffffff;
  --bs-body-color: #212121; /* Body text color */
  --bs-dark-rgb: 33, 33, 33; /* Background color for Header */
  --bs-heading-color: #212121; /* Header text color */
  --bs-secondary-bg-subtle: #f1f1f1; /* Background color for Admin, lighter than bs-secondary, used with bg-secondary-subtle */
  --bs-secondary-rgb:
    210, 210, 210; /* Border color for Admin, used with border-secondary */
  --bs-secondary: #c5c4c4;
}

/* Django dashboard overriding Bootstrap */

#content-start h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 12px 0 20px 0;
}

#content-related h3,
#changelist-filter-extra-actions h3 {
  font-size: 0.875rem;
}

table {
  caption-side: top;
}

#user-tools {
  letter-spacing: 0;
}

/* Log out link on Password change page */
#logout-form button {
  border: 0;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: var(--bs-white);
}

/* Theme toggle on Password change page */
.theme-toggle {
  display: none;
}

/* Header - Branding by page */

#logo {
  width: var(--logo-width);
  height: var(--logo-height);
}

.dashboard {
  --logo-width: 141.33px;
  --logo-height: 32px;
}

.login {
  --logo-width: 212px;
  --logo-height: 48px;
}
