/* CSS Variable overrides */

html[data-theme="light"],
:root {
  --primary: #ffffff;
  --bs-body-font-size: 1rem;
  --button-bg: #ffffff;
  --bs-body-color: #212121; /* Body text color */
  --bs-dark-rgb: 33, 33, 33; /* Background color for Header */
  --bs-heading-color: #212121; /* Header text color */
  --bs-secondary-bg-subtle: #f1f1f1; /* Background color for Admin, lighter than bs-secondary, used with bg-secondary-subtle */
  --bs-secondary-rgb:
    210, 210, 210; /* Border color for Admin, used with border-secondary */
  --bs-secondary: #c5c4c4;
}

/* Django dashboard overriding Bootstrap */

#content-start h1 {
  font-size: 1rem;
  font-weight: 700;
}

#content-related h3,
#changelist-filter-extra-actions h3 {
  font-size: 0.875rem;
}

table {
  caption-side: top;
}

#user-tools,
#user-tools button {
  color: var(--header-link-color);
  font-size: 1rem;
  letter-spacing: 0;
}

#user-tools a,
#user-tools button {
  border: 0;
  text-transform: inherit;
  text-decoration: underline;
  text-decoration-color: var(--header-link-color);
}

#user-tools strong {
  font-weight: 700;
}

.theme-toggle {
  display: none;
}

/* Header - Colors */

:root {
  --header-bg: #000000;
}

#header {
  padding: 0 2rem;
}

/* Header - Branding by page */

#logo {
  width: var(--logo-width);
  height: var(--logo-height);
}

.dashboard {
  --logo-width: 141.33px;
  --logo-height: 2rem;
}

.login {
  --logo-width: 212px;
  --logo-height: 3rem;
}

#branding {
  justify-content: center;
  align-items: center;
}

.login #branding {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.dashboard #logo {
  margin-right: 1rem;
}

/* Content */

#content {
  padding: 2rem;
}
