:root {
  --primary-color: #046b99;
  --primary-color-rgb: 4, 107, 153;
  --bs-blue: var(--primary-color);
  --bs-primary: var(--primary-color);
  --bs-primary-rgb: var(--primary-color-rgb);
  --text-primary-color: #000000;
  --bs-body-color: var(--text-primary-color);
  --bs-body-text-align: left;
  --bs-body-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --bs-body-font-size: 18px;
  --bs-font-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-line-height: 1.5;
  --body-letter-spacing: 0.05em;
  --dark-color: #212121;
  --hover-color: #2f4c65;
  --error-color: #ea1010;
  --selected-color: #562b97;
  --error-color-rgb: 234, 16, 16;
  --bs-danger: var(--error-color);
  --bs-danger-rgb: var(--error-color-rgb);
  --standout-color: #323a45;
  --h1-font-size: calc(24rem / 16);
  --h1-text-align: left;
  --h2-font-size: calc(24rem / 16);
  --h3-font-size: calc(20rem / 16);
  --font-size-24px: calc(24rem / 16);
  --font-size-16px: calc(16rem / 16);
  --font-size-14px: calc(14rem / 16);
}

@media (min-width: 992px) {
  :root {
    --h1-font-size: calc(35rem / 16);
    --h1-text-align: center;
  }
}

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PublicSans"), url("../fonts/PublicSans-Bold.woff") format("woff");
}

body {
  font-size: 100%;
}

h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
a,
label,
span,
button,
input,
small,
li {
  font-family: var(--bs-body-font-family);
}

/* Paragraph: Body Text */
/* Same sizes for all screen widths */
p,
.p,
span,
.span,
li {
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--bs-body-line-height);
  margin: 0;
}

@media (max-width: 992px) {
  /* Paragraph: Body Text, up to Small width */
  .p-sm {
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--bs-body-line-height);
    margin: 0;
  }
}

@media (min-width: 992px) {
  /* Utility Class: Padding bottom 64px on Desktop */
  /* Pair with pb-4 on Form pages to get 24px on Mobile, 64px on Desktop */
  .pb-lg-8 {
    padding-bottom: 64px !important;
  }
}

.pt-8 {
  padding-top: 64px;
}

.fs-base {
  font-size: var(--bs-body-font-size);
}

.ls-base {
  letter-spacing: var(--body-letter-spacing);
}

/* Links */
/* Same sizes for all screen widths: 18px */
a:not(.btn) {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: var(--bold-font-weight);
}

a:hover:not(.btn) {
  color: var(--hover-color);
  text-decoration: underline;
}

a:visited:not(.btn) {
  color: var(--selected-color);
}

/* Headlines */
/* All headlines */
/* All headlines share font-weight, letter-spacing, line-height and margin */
h1,
h2,
.h2,
h3,
.h3,
h4 {
  font-weight: var(--bold-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--bs-body-line-height);
  margin: 0;
}

/* H1 */
/* Mobile first: Screen width up to 992px - 24px (24rem/16 = 1.5rem) and left */
/* Screen width above 992px - 35px (35rem/16 = 2.1875rem) and centered */
/* Does not have a class. Do not apply to non-headline elements. */
h1 {
  font-size: var(--h1-font-size);
  text-align: var(--h1-text-align);
  padding-top: 70px;
}

/* H2 */
/* Same sizes for all screen widths: 24px (24rem/16 = 1.5rem) */
/* Also has a class which can be applied to non-headline elements */
h2,
.h2 {
  font-size: var(--h2-font-size);
}

/* H3 */
/* Same sizes for all screen widths: 20px (20rem/16 = 1.25rem) */
/* Also has a class which can be applied to non-headline elements */
h3,
.h3 {
  font-size: var(--h3-font-size);
}

/* Main */
/* The minimum height is calculated by 100 viewport height minus Header and Footer height */
main {
  min-height: var(--main-content-min-height);
}

/* Footer */
/* Footer has same font styles on all screen widths */
/* Mobile first: One link per row, each link is 50px height */
/* Screen width above 992px - Footer is 50px height */
/* Total footer height is 50px on Desktop */
/* And 102 on Mobile */
/* Footer breakpoint set to 992px */
/* Note: Not all Footer styles are written in mobile-first */
/* to style the full-width line on mobile */
/* and the desktop container-width sizing */

:root {
  --footer-background-color: var(--dark-color);
  --footer-link-color: #73b3e7;
  --footer-link-width: 100%;
  --footer-link-hover-color: #9b74d7;
  --footer-link-font-weight: var(--medium-font-weight);
  --footer-mobile-underline-color: var(--bs-white);
  --main-content-min-height: calc(100vh - 246px);
  /* 246px = Header Height (80px) + (Footer Link (50px) * Number of Links (2)) + Underline Height (2px) + Footer Margin Top (64px) */
}

@media (min-width: 992px) {
  :root {
    --footer-link-width: auto;
    --main-content-min-height: calc(100vh - 194px);
    /* 194px = Header Height (80px) + Footer Height (50px) + Footer Margin Top (64px) */
  }
}

footer {
  background: var(--footer-background-color);
  margin-top: 64px;
}

footer .footer-links li {
  width: var(--footer-link-width);
}

footer .footer-links li a {
  color: var(--footer-link-color);
  font-weight: var(--footer-link-font-weight);
  font-size: var(--bs-body-font-size);
  text-decoration: underline;
  letter-spacing: 0;
  line-height: 50px;
}

footer .footer-links li a:hover,
footer .footer-links li a:focus,
footer .footer-links li a:active,
footer .footer-links li a:visited {
  color: var(--footer-link-hover-color);
}

/* Custom non-mobile-first code to */
/* allow the mobile footer to have a */
/* full-width line beyond container-fluid width */
@media (max-width: 992px) {
  footer {
    margin-top: 64px;
  }

  footer .container {
    max-width: 100%;
    padding: 0;
  }

  footer .footer-links li:not(:last-child) {
    border-bottom: 2px solid var(--footer-mobile-underline-color);
  }
}

/* Header */

#header-container {
  height: 80px;
}

/* Language button */
#header-container .btn-outline-light {
  font-size: var(--bs-body-font-size);
  padding: 3.5px 29.01px; /* 126 x 38px, all screen sizes  */
}

/* Buttons */
/* Primary Button: Use all three classes: btn btn-lg btn-primary */
/* Set button width in parent with Bootstrap column */
/* Height: 60px on Desktop; 72 on mobile*/

:root {
  --primary-button-padding: 19px 0;
}

@media (min-width: 992px) {
  :root {
    --primary-button-padding: 13px 0;
  }
}

.btn.btn-lg.btn-primary {
  border-width: 2px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  font-weight: var(--medium-font-weight);
  font-size: calc(20rem / 16);
  width: 100%;
  padding: var(--primary-button-padding);
}

/* A button that actually is a text link */
/* TODO: Check if this is actually really used anymore */
.btn-link {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Previous Button, Language Button */
.btn-outline-dark,
.btn-outline-light {
  border-width: 2px;
}

/* Custom button: Login.gov Button with text and SVG */
/* Used on Eligibility Start */

:root {
  --login-gov-button-font-size: var(--h3-font-size);
  --login-gov-button-padding: 11px 0;
}

@media (min-width: 992px) {
  :root {
    --login-gov-button-font-size: var(--font-size-16px);
    --login-gov-button-padding: var(--primary-button-padding);
  }
}

#login {
  cursor: pointer;
  line-height: 1;
  text-transform: none;
  letter-spacing: 0;
  font-size: var(--login-gov-button-font-size);
  font-family: "Public Sans", Roboto, system-ui;
  padding: var(--login-gov-button-padding);
}

/* Sets the text `Login.gov` as transparent */
/* With an Login.gov logo image over it */
/* So screenreaders can read out `Login.gov` */
#login .fallback-text {
  background: url("/static/img/login-gov-logo-rev.svg") no-repeat;
  background-size: contain;
  display: block;
  margin: 8px auto 0 auto;
  position: relative;
  width: 132px;
  height: 18px;
  padding-top: 1px;
  color: transparent;
  font-size: var(--font-size-16px);
  font-weight: var(--bold-font-weight);
  line-height: 1;
}

@media (min-width: 992px) {
  #login .fallback-text {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: baseline;
  }
}

/* Custom button: Sign Out */
/* Nav Buttons: Previous Page, Sign Out */

.nav-button-row {
  height: 70px;
}

/* Custom button: Sign Out */

.signout-link,
.signout-link:visited {
  font-size: var(--bs-body-font-size);
  color: var(--primary-color) !important;
  padding: 2px 4px;
  border-radius: 3px;
  border: 2px solid var(--primary-color);
  letter-spacing: 0.02em;
  font-weight: 500 !important;
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .signout-link,
  .signout-link:visited {
    font-size: 12px;
    text-decoration: underline !important;
    letter-spacing: var(--body-letter-spacing);
    border: none;
  }
}

/* Custom button: Previous Page */

#previous-page-button {
  border-color: var(--text-primary-color);
  color: var(--text-primary-color);
  font-weight: var(--medium-font-weight);
  font-size: var(--font-size-14px);
  letter-spacing: var(--body-letter-spacing);
  padding: 3.5px 2.35px; /* button dimensions are 130 x 32 */
}

#previous-page-button:hover {
  background: none;
  color: var(--hover-color);
  border-color: var(--hover-color);
}

@media (min-width: 992px) {
  #previous-page-button,
  #previous-page-button:hover {
    border: none;
  }
}

/* Forms: Text Inputs */
/* Form Container: Must use .form-container parent to use these styles */

:root {
  --form-input-gap: 22px;
}

@media (min-width: 992px) {
  :root {
    --form-input-gap: 42px;
  }
}

.form-container .form-group:not(:first-child) {
  padding-top: var(--form-input-gap);
}

.form-container .form-control-label {
  font-size: var(--bs-body-font-size);
  font-weight: var(--medium-font-weight);
  letter-spacing: var(--body-letter-spacing);
  padding-bottom: 12px;
}

.form-container .form-control {
  border-width: 2px;
  border-radius: 3px;
  border-color: var(--primary-color);
  color: var(--text-primary-color);
  font-size: var(--font-size-24px);
  padding: 0.625rem 0.75rem;
  /* Input height should be 60px */
}

.form-text {
  font-size: var(--font-size-14px);
}

/* Forms: Radio Buttons */

:root {
  --radio-button-size: 24px;
  --radio-input-color: var(--standout-color);
  --radio-input-gap: 40px;
}

@media (min-width: 992px) {
  :root {
    --radio-input-gap: 15px;
  }
}

.radio-label {
  cursor: pointer;
}

.radio-input-group {
  gap: var(--radio-input-gap);
}

.radio-input-group:not(:first-child) {
  padding-top: 24px;
}

.radio-input {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--radio-button-size);
  height: var(--radio-button-size);
  border: 2px solid var(--radio-input-color);
  margin: 3px 0;
}

.radio-input:checked {
  background-color: var(--radio-input-color);
  box-shadow: inset 0 0 0 2px var(--bs-white);
}

/* Media List */

:root {
  --media-item-icon-size: 64px;
  --media-item-gap: 24px;
  --media-item-icon-margin: 24px;
  --media-title-margin-top: 24px;
}

@media (min-width: 992px) {
  :root {
    --media-item-icon-size: 90px;
    --media-item-gap: 62px;
    --media-item-icon-margin: 32px;
    --media-title-margin-top: 64px;
  }
}

h1 + .media-list, /* A .media-list immediately following the h1: Enrollment Success, but not Eligibility Start */
.media-body--details p:not(:first-of-type) {
  /* All the p within .media-body--details, except for the first p - Any media item with more than one p */
  padding-top: 24px;
}

.media-title {
  margin-top: var(--media-title-margin-top);
  margin-bottom: 24px;
}

.media-list {
  gap: var(--media-item-gap);
  margin-bottom: 64px;
}

.media-list .media .media-line .icon {
  width: var(--media-item-icon-size);
  height: var(--media-item-icon-size);
  margin-right: var(--media-item-icon-margin);
}

.media-list .media .media-body--details,
.media-list .media .media-body--items li:first-child {
  padding-top: 5px;
}

.media-list .media .media-body--items li {
  list-style-type: disc;
}

/* Enrollment Success */
/* Custom in-line log out button for Enrollment Success, in paragraph */

:root {
  --logout-paragraph-margin-left: calc(
    var(--media-item-icon-margin) + var(--media-item-icon-size)
  );
}

@media (min-width: 992px) {
  :root {
    --logout-paragraph-margin-left: 0;
  }
}

.enrollment-success #login {
  padding: 0 0.5rem 0.3rem 0.6rem;
  display: inline-block;
  margin: 0;
  width: inherit;
  border-radius: 0;
}

.enrollment-success #login .fallback-text {
  padding-top: 14px;
  margin: 8px auto 0 auto;
  display: block;
  width: 7rem;
}

.enrollment-success .logout-paragraph {
  margin-left: var(--logout-paragraph-margin-left);
}

/* 404 Page */

h1.icon-title {
  padding-bottom: 1.5rem;
}

h1.icon-title span.icon {
  display: block;
  padding-bottom: 3rem;
}

h1.icon-title img.icon {
  width: 150px;
  height: 150px;
}

/* Agency Index */
/* This page has a full-width and full-height background image, creating the need to re-set the Footer margin top to 0 */

:root {
  --agency-index-main-height: calc(
    100vh - 182px
  ); /* 182px = Header Height (80px) + (Footer Link (50px) * Number of Links (2)) + Underline Height (2px) */
  --agency-index-background: url("/static/img/benefits-bg-mobile.jpg") no-repeat
    var(--primary-color);
  --agency-index-box-background: var(--bs-white);
  --agency-index-box-border: 12px solid var(--primary-color);
  --agency-index-text-color: var(--text-primary-color);
}

@media (min-width: 992px) {
  :root {
    --agency-index-main-height: calc(
      100vh - 130px
    ); /* 130px = Header Height (80px) + (Footer Link (50px) */
    --agency-index-background: url("/static/img/benefits-bg-desktop.jpg")
      no-repeat;
    --agency-index-box-background: transparent;
    --agency-index-box-border: none;
    --agency-index-text-color: var(--bs-white);
  }
}

.agency-index main#main-content {
  min-height: var(--agency-index-main-height);
  background: var(--agency-index-background);
  background-size: cover;
}

.agency-index main#main-content .container .row:first-child {
  min-height: var(--agency-index-main-height);
}

.agency-index .box {
  background: var(--agency-index-box-background);
  border-top: var(--agency-index-box-border);
  color: var(--agency-index-text-color);
  margin-bottom: 32px;
}

.agency-index .box .btn.btn-lg.btn-primary {
  width: 250px; /* Button is 250 x 72 */
  display: block;
  margin: 0 auto; /* Center the button */
  padding: 19px 0; /* Button is 250 x 72 */
}

.agency-index footer {
  margin-top: 0;
}
