{% extends "eligibility/includes/media-item--idcardcheck.html" %}

{% load i18n %}

{% block heading %}
    {% translate "A Login.gov account with identity verification" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "You will be able to create an account using your email address if you do not already have one. We use your Login.gov account to verify your identity." %}
            {% translate "Learn more about identity verification" as trigger_text %}
            {% include "core/includes/modal-trigger-link.html" with modal="modal--identity-verification" text=trigger_text period=True %}
        </p>
        <div class="media-body--items">
            <p>{% translate "For this process you will need:" %}</p>
            <ul>
                <li>{% translate "Your state-issued ID card" %}</li>
                <li>{% translate "Your Social Security number" %}</li>
                <li>{% translate "A phone number with a phone plan associated with your name" %}</li>
            </ul>
        </div>
    </div>

    {% include "eligibility/includes/modal--senior-start-help.html" with size="modal-lg" id="modal--identity-verification" %}
{% endblock body %}
