{% extends "eligibility/includes/media_item__idcardcheck.html" %}

{% load i18n %}

{% block heading %}
    {% translate "eligibility.pages.start.veteran.start_item.heading" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>{% translate "eligibility.pages.start.veteran.start_item.details" %}</p>
        <div class="media-body--items">
            <ul>
                <li>{% translate "eligibility.pages.start.veteran.required_items[0]" %}</li>
                <li>{% translate "eligibility.pages.start.veteran.required_items[1]" %}</li>
                <li>{% translate "eligibility.pages.start.veteran.required_items[2]" %}</li>
                <li>{% translate "eligibility.pages.start.veteran.required_items[3]" %}</li>
            </ul>
            <p class="pt-1">{% translate "eligibility.pages.start.veteran.start_item.secondary_details" %}</p>
        </div>
    </div>
{% endblock body %}
