{% extends "eligibility/includes/media-item--idcardcheck.html" %}

{% load i18n %}

{% block heading %}
    {% translate "Access to your preferred VA related account" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>{% translate "eligibility.pages.start.veteran.start_item.details" %}</p>
        <div class="media-body--items">
            <ul>
                <li>{% translate "Login.gov" %}</li>
                <li>{% translate "ID.me" %}</li>
                <li>{% translate "DS Logon" %}</li>
                <li>{% translate "My HealtheVet" %}</li>
            </ul>
            <p class="pt-1">{% translate "eligibility.pages.start.veteran.start_item.secondary_details" %}</p>
        </div>
    </div>
{% endblock body %}
