{% extends "core/includes/media-item.html" %}
{% load i18n %}

{% block icon %}
    {% translate "Bank card icon with contactless symbol and checkmark" context "image alt text" as icon_alt %}
    {% include "core/includes/icon.html" with name="bankcardcheck" alt=icon_alt %}
{% endblock icon %}

{% block heading %}
    {% translate "Your contactless card details" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "Your contactless card must be a debit or credit card by Visa or Mastercard." %}
            {% translate "Learn more about contactless cards" as trigger_text %}
            {% include "core/includes/modal-trigger-link.html" with modal="modal--contactless" text=trigger_text period=True %}
        </p>
    </div>

    {% include "eligibility/includes/modal--contactless.html" with id="modal--contactless" size="modal-lg" %}
{% endblock body %}
