{% extends "core/includes/media-item.html" %}
{% load i18n %}

{% block icon %}
    {% translate "core.icons.bankcardcheck" context "image alt text" as icon_alt %}
    {% include "core/includes/icon.html" with name="bankcardcheck" alt=icon_alt %}
{% endblock icon %}

{% block heading %}
    {% translate "eligibility.pages.start.bankcard.title" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "eligibility.pages.start.bankcard.text" %}
            {% translate "eligibility.pages.start.modal.title" as trigger_text %}
            {% include "core/includes/modal-trigger-link.html" with id="modal--contactless" text=trigger_text %}
        </p>
    </div>

    {% include "eligibility/includes/modal--contactless.html" with id="modal--contactless" size="modal-lg" %}
{% endblock body %}
