{% extends "eligibility/includes/media-item--idcardcheck.html" %}

{% load i18n %}

{% block heading %}
    {% translate "eligibility.pages.start.senior.start_item.heading" %}
{% endblock heading %}

{% block body %}
    <div class="media-body--details">
        <p>
            {% translate "eligibility.pages.start.senior.start_item.details" %}
            {% translate "eligibility.pages.start.senior.help.link_text" as trigger_text %}
            {% include "core/includes/modal-trigger-link.html" with id="identity-verification-help" text=trigger_text %}
        </p>
        <div class="media-body--items">
            <p>{% translate "eligibility.pages.start.senior.start_item.secondary_details" %}</p>
            <ul>
                <li>{% translate "eligibility.pages.start.senior.required_items[0]" %}</li>
                <li>{% translate "eligibility.pages.start.senior.required_items[1]" %}</li>
                <li>{% translate "eligibility.pages.start.senior.required_items[2]" %}</li>
            </ul>
        </div>
    </div>

    {% include "eligibility/includes/modal--senior-start-help.html" with id="identity-verification-help" %}
{% endblock body %}
