{% extends "core/includes/modal-info.html" %}
{% load i18n %}
{% load static %}

{% block modal-content %}
    <h2 id="contactless-modal">{% translate "eligibility.pages.start.modal.title" %}</h2>
    <div class="row">
        <p class="pt-3">{% translate "eligibility.pages.start.modal.p[0]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.modal.p[1]" %}</p>
        <p class="contactless-symbol pt-3">
            <img class="icon mx-auto d-block"
                 width="30"
                 height="37.5"
                 src="{% static 'img/icon/contactless.svg' %}"
                 alt="{% translate "core.icons.contactless" context "image alt text" %}" />
        </p>
        <p class="pt-4">{% translate "eligibility.pages.start.modal.p[3]" %}</p>
        <p class="pt-4 pb-2">
            {% blocktranslate with agency_short_name=agency.short_name %}eligibility.pages.start.modal.p[4.1]{{agency_short_name}}{% endblocktranslate %}
            {% blocktranslate with agency_info_url=agency.info_url %}eligibility.pages.start.modal.p[4.2]{{agency_info_url}}{% endblocktranslate %}
            {% blocktranslate with agency_short_name=agency.short_name %}eligibility.pages.start.modal.p[4.3]{{agency_short_name}}{% endblocktranslate %}
        </p>
        <p class="pt-4 d-block d-sm-none">
            <a href="#" data-bs-dismiss="modal" aria-label="Close">{% translate "core.modals.back" %}</a>
        </p>
    </div>
{% endblock modal-content %}
