{% extends "core/includes/modal-info.html" %}
{% load i18n %}
{% load static %}

{% block modal-content %}
    <h2>
        {% translate "eligibility.pages.index.senior.help.headline" %}
        <img class="icon" width="197" height="26" src="{% static "img/login-gov-logo.svg" %}" alt="{% translate "core.logos.login_gov" context "image alt text" %}" />
    </h2>
    <div class="row">
        <h3 class="pt-4">{% translate "eligibility.pages.index.senior.help.sub_headline[0]" %}</h3>
        <p class="pt-1">{% translate "eligibility.pages.index.senior.help.p[0]" %}</p>

        <h3 class="pt-4">{% translate "eligibility.pages.index.senior.help.sub_headline[1]" %}</h3>
        <p class="pt-1">{% translate "eligibility.pages.index.senior.help.p[1]" %}</p>

        <p class="pt-4">{% translate "eligibility.pages.index.senior.help.p[2]" %}</p>

        <p class="pt-4 d-block d-sm-none">
            <a href="#" data-bs-dismiss="modal" aria-label="Close">{% translate "core.modals.back" %}</a>
        </p>
    </div>
{% endblock modal-content %}
