{% extends "eligibility/includes/selection-label.html" %}
{% load i18n %}

{% block label %}
    {% translate "Older Adult" %}
{% endblock label %}

{% block description %}
    {% translate "You must be 65 years or older. You will need to verify your identity with" %}

    {% include "core/includes/modal-trigger.html" with classes="border-0 bg-transparent p-0 login" modal="modal--login-gov" login=True period=True %}

    {% include "eligibility/includes/modal--login-gov-help.html" with id="modal--login-gov" size="modal-lg" header="p-md-2 p-3" body="pb-md-3 mb-md-3 mx-md-3 py-0 pt-0 absolute-top" %}
{% endblock description %}
