{% extends "eligibility/includes/selection-label.html" %}
{% load i18n %}

{% block label %}
    {% translate "eligibility.pages.index.senior.label" %}
{% endblock label %}

{% block description %}
    {% translate "eligibility.pages.index.senior.description" %}

    <!-- Button to trigger modal -->
    <button id="login" type="button" class="border-0 bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#modal--login-gov">
        <span class="fallback-text color-logo">Login.gov</span>
    </button>
    .

    {% include "eligibility/includes/modal--senior-help.html" with id="modal--login-gov" size="modal-lg" %}
{% endblock description %}
