{% extends "eligibility/includes/selection-label.html" %}
{% load i18n %}

{% block label %}
  {% translate "US Veteran" %}
{% endblock label %}

{% block description %}
  {% blocktranslate trimmed %}
    This option is for people who have served in the active military, naval, or air service, and who were discharged or released therefrom under conditions other than dishonorable. You will need to verify your identity with
  {% endblocktranslate %}

  {% include "core/includes/modal-trigger.html" with classes="border-0 bg-transparent p-0 login" modal="modal--login-gov" login=True period=True %}

{% endblock description %}
