{% load i18n %}

{% with id=widget.attrs.id %}

  <label for="{{ id }}" class="pb-4 h2">{% translate "eligibility.pages.index.label" %}</label>

  <div {% if id %}id="{{ id }}"{% endif %} class="ps-3 ps-md-0 ps-lg-0 offset-md-1 offset-lg-1 radio-container">
    {% for group, options, index in widget.optgroups %}
      {% if group %}
        <div>
          {{ group }}
          <div {% if id %}id="{{ id }}_{{ index }}"{% endif %}>
          {% endif %}

          {% for option in options %}
            <div class="radio-input-group d-flex">{% include option.template_name with widget=option %}</div>
          {% endfor %}

          {% if group %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endwith %}
