{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {{ title }}
{% endblock page-title %}

{% block headline %}
  <h1>{{ headline }}</h1>
{% endblock headline %}

{% block inner-content %}
  <p class="py-4">{{ blurb }}</p>
  <div class="d-flex flex-column nearby-provider_table">
    {% for p in providers %}<p class="py-2 px-3 nearby-provider">{{ p }}</p>{% endfor %}
  </div>

{% endblock inner-content %}

{% block call-to-action-button %}
  <a href="{% url routes.ELIGIBILITY_INDEX %}" class="btn btn-lg btn-primary">{% translate "Next" %}</a>
{% endblock call-to-action-button %}
