{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block main-content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1>{{ page.headline }}</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <h2 class="pt-8" id="what-is-cal-itp">{% translate "core.pages.help.about" %}</h2>
        <p class="pt-4">{% translate "core.pages.help.about.p[0]" %}</p>
        <p class="pt-4">{% translate "core.pages.help.about.p[1]" %}</p>

        <h2 class="pt-8" id="payment-options">{% translate "core.pages.help.payment_options" %}</h2>
        <p class="pt-4">{% translate "eligibility.pages.start.modal.p[0]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.modal.p[1]" %}</p>
        <p class="contactless-symbol pt-3">
          <img class="icon mx-auto d-block"
               width="40"
               height="50"
               src="{% static 'img/icon/contactless.svg' %}"
               alt="{% translate "core.icons.contactless" context "image alt text" %}" />
        </p>
        <p class="pt-4">{% translate "eligibility.pages.start.modal.p[2]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.modal.p[3]" %}</p>
        {% if agency %}
          <p class="pt-4">
            {% blocktranslate with short_name=agency.short_name website=agency.info_url %}eligibility.pages.start.modal.p[4]{{ short_name }}{{ website }}{% endblocktranslate %}
          </p>
        {% endif %}

        <h2 class="pt-8" id="login-gov">{% translate "eligibility.pages.index.senior.help.sub_headline[0]" %}</h2>
        <p class="pt-4">{% translate "eligibility.pages.index.senior.help.p[0]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.index.senior.help.p[2]" %}</p>

        <h2 class="pt-8">{% translate "eligibility.pages.index.senior.help.sub_headline[1]" %}</h2>
        <p class="pt-4">{% translate "eligibility.pages.index.senior.help.p[1]" %}</p>

        <h2 class="pt-8" id="login-gov-verify">{% translate "core.pages.help.login_gov_verify" %}</h2>
        <p class="pt-4">{% translate "eligibility.pages.start.senior.help.p[0]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.senior.help.p[1]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.senior.help.p[2]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.senior.help.p[3]" %}</p>
        <p class="pt-4">{% translate "eligibility.pages.start.senior.help.p[4]" %}</p>

        <h2 class="pt-8" id="mst-courtesy-card">{% translate "core.pages.help.mst_courtesy_card" %}</h2>
        <p class="pt-4">{% translate "core.pages.help.mst_courtesy_card.p[0]" %}</p>

        <h2 class="pt-8" id="littlepay">{% translate "core.pages.help.littlepay" %}</h2>
        <p class="pt-4">{% translate "core.pages.help.littlepay.p[0]" %}</p>
        <p class="pt-4">
          {% blocktranslate with website="https://littlepay.com" %}core.pages.help.littlepay.p[1]{{ website }}{% endblocktranslate %}
        </p>

        <h2 class="pt-8" id="questions">{% translate "core.pages.help.questions" %}</h2>
        <p class="pt-4">{% translate "core.pages.help.questions.p[0]" %}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        {% if agency %}
          {% include "core/includes/agency-links.html" %}
        {% else %}
          {% for agency in active_agencies %}
            {% include "core/includes/agency-links.html" with agency_name=agency.long_name phone=agency.phone info_url=agency.info_url %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="row pt-8">
      <div class="col-lg-3 offset-lg-8 col-8 offset-2">
        {% translate "core.buttons.back" as button_text %}
        {% include "core/includes/button--home.html" with button_text=button_text %}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-lg-10 mt-4">
        <p class="pt-4">
          {% translate "core.pages.help.foss.text" %}
          <a href="https://www.github.com/cal-itp/benefits" target="_blank" rel="noopener noreferrer">{% translate "core.pages.help.foss.link" %}</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock main-content %}
