{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block classes %}
  {{ block.super | add:" landing" }}
{% endblock classes %}

{% block page-title %}
  {% block title %}
  {% endblock title %}
{% endblock page-title %}

{% block preload %}
  <link rel="preload" as="image" href="{% static 'img/benefits-bg-mobile.webp' %}" media="(width < 992px)" />
  <link rel="preload" as="image" href="{% static 'img/benefits-bg-desktop.webp' %}" media="(width >= 992px)">
{% endblock preload %}

{% block main-content %}
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="box py-3 px-3 py-lg-0 px-lg-0 mt-lg-5 pt-lg-4">
          <h1 class="small-text mb-3">{% translate "Cal-ITP connects your transit benefit to your contactless card" %}</h1>
          <h2 class="h1 text-start p-0 mb-4">
            {% block headline %}
            {% endblock headline %}
          </h2>
          <span role="img" aria-label="{% translate "A person holds a contactless debit card next to a card reader on a bus." %}"></span>
          {% block call-to-action %}
          {% endblock call-to-action %}
        </div>
      </div>
    </div>
    {% include "core/includes/logo-strip.html" %}
  </div>
{% endblock main-content %}
