{% extends "core/index-base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Choose transit agency" %}
{% endblock title %}

{% block headline %}
  {% translate "Get a reduced fare on" %}
  <span class="public-transit-span">{% translate "public transit" %}</span>
  {% translate "when you tap to ride" %}
{% endblock headline %}

{% block select-agency %}
  {% include "core/includes/select-agency.html" %}
{% endblock select-agency %}

{% block logo-strip %}
  {% include "core/includes/logo-strip.html" %}
{% endblock logo-strip %}
