{% extends "core/landing.html" %}
{% load i18n %}

{% block title %}
  {% translate "Choose Provider" %}
{% endblock title %}

{% block headline %}
  {% translate "Get a reduced fare on public transportation when you tap to ride" %}
{% endblock headline %}

{% block call-to-action %}
  {% translate "Choose your Provider" as trigger_text %}
  {% include "core/includes/modal-trigger-link.html" with modal="modal--agency-selector" classes="btn btn-lg btn-primary" text=trigger_text period=False %}
  {% include "core/includes/modal--agency-selector.html" with id="modal--agency-selector" %}
{% endblock call-to-action %}
