{% extends "core/index-base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Choose transit agency" %}
{% endblock title %}

{% block headline %}
  <span class="selected-agency-span">
    {% blocktranslate trimmed with agency="" %}
      Get your reduced fare on {{ agency }} public transit when you tap to ride
    {% endblocktranslate %}
  </span>
{% endblock headline %}

{% block call-to-action %}
  {% include "core/includes/form--select-agency.html" with form=form %}
{% endblock call-to-action %}
