{% extends "core/base.html" %}
{% load i18n %}

{% block classes %}
  {{ block.super | add:" landing" }}
{% endblock classes %}

{% block page-title %}
  {% block title %}
  {% endblock title %}
{% endblock page-title %}

{% block main-content %}
  <div class="container">
    <div class="row align-items-end align-items-lg-center">
      <div class="col-lg-5">
        <div class="box py-3">
          <h1 class="text-left p-0">
            {% block headline %}
            {% endblock headline %}
          </h1>
          <h2 class="p-sm pt-1 pt-lg-5 pb-4 pb-lg-5 mb-lg-2">{% translate "core.pages.landing.h2" %}</h2>
          <span role="img" aria-label="{% translate "core.pages.index.alt" %}"></span>
          {% block call-to-action %}
          {% endblock call-to-action %}
        </div>
      </div>
    </div>
  </div>
{% endblock main-content %}
