{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Logged out" %}
{% endblock page-title %}

{% block main-content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="py-4 mt-4 text-center">{% include "core/includes/icon.html" with name="happybus" %}</div>
        <h1 class="h2 pt-0">{% translate "You have successfully logged out. Thank you for using Cal-ITP Benefits!" %}</h1>
      </div>
    </div>
  </div>
{% endblock main-content %}
