{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "core.pages.logged_out.title" %}
{% endblock page-title %}

{% block main-content %}
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-md-6">
        <h1 class="h2 text-center">
          <span class="d-block pb-lg-8 pb-5">
            {% translate "core.icons.happybus" context "image alt text" as alt_i18n %}
            {% include "core/includes/icon.html" with name="happybus" alt=alt_i18n %}
          </span>
          {% translate "core.pages.logged_out.headline" %}
        </h1>
      </div>
    </div>
  </div>
{% endblock main-content %}
