{% extends "core/base.html" %}

{% if page.title %}
  {% block classes %}
    {{ page.classes|join:" " }}
  {% endblock classes %}
{% endif %}

{% if page.title %}
  {% block page_title %}
    {{ page.title }} |
  {% endblock page_title %}
{% endif %}

{% block main_content %}
  <div class="container-fluid">
    <div class="container row main-row">
      <div class="container content">
        {% block container_content %}

          <div class="row justify-content-center">
            <div class="col-lg-10">
              {% block icon_title %}
                {% if page.headline %}
                  {% if page.icon %}
                    {% include "core/includes/icon-title.html" with title=page.headline icon=page.icon %}
                  {% else %}
                    <h1>{{ page.headline }}</h1>
                  {% endif %}
                {% endif %}
              {% endblock icon_title %}

              {% block media_list %}
                {% if media|length_is:"0" %}
                {% else %}
                  {% include "core/includes/media-list.html" with media=media %}
                {% endif %}
              {% endblock media_list %}

              {% block paragraph_content %}
                {% for p in page.paragraphs %}<p>{{ p }}</p>{% endfor %}
              {% endblock paragraph_content %}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              {% block forms %}
                {% if page.forms %}
                  {% for f in page.forms %}
                    {% include "core/includes/form.html" with form=f %}
                  {% endfor %}
                {% endif %}
              {% endblock forms %}
            </div>
          </div>
        </div>
        <div class="row">
          {% block buttons %}
            {% if page.buttons|length_is:"0" %}
            {% else %}
              {% if "with-agency-links" in page.classes %}
                {% include "core/includes/agency-links.html" with buttons=page.buttons %}
              {% else %}
                <div class="buttons">
                  {% for b in page.buttons %}
                    {% include "core/includes/button.html" with button=b %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
          {% endblock buttons %}
        </div>

      {% endblock container_content %}
    </div>
  </div>
</div>
{% endblock main_content %}
