{% extends "core/base.html" %}

{% if page.classes %}
{% block classes %}{{ page.classes|join:" " }}{% endblock %}
{% endif %}

{% if page.title %}
{% block page_title %}{{ page.title.text }} | {% endblock page_title %}
{% endif %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        {% if page.image.file %}
        <div class="col-lg-6 image" style="background: 48% 75% url('{{ page.image.file.url }}') no-repeat; background-size: cover;"></div>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">
        {% else %}
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        {% endif %}
            <div class="container content">
            {% block container_content %}

            {% block icon_title %}
            {% if page.content_title %}
                {% if page.icon %}
                    {% include "core/includes/icon-title.html" with title=page.content_title icon=page.icon %}
                {% else %}
                    <h1>{{ page.content_title.text }}</h1>
                {% endif %}
            {% endif %}
            {% endblock icon_title %}

            {% block media_list %}
            {% if page.media.all.length > 0 %}
                {% include "core/includes/media-list.html" with items=page.media.all %}
            {% endif %}
            {% endblock media_list %}

            {% block paragraph_content %}
            {% for p in page.paragraphs.all %}
                <p>{{ p.text }}</p>
            {% endfor %}
            {% endblock paragraph_content %}

            {% block forms %}
            {% if page.forms %}
            {% for f in page.forms %}
                {% include "core/includes/form.html" with form=f %}
            {% endfor %}
            {% endif %}
            {% endblock forms %}

            {% block buttons %}
            {% if page.navigation.all.length > 0 %}
                <div class="buttons">
                    {% if page.navigation_title %}
                    <label>{{ page.navigation_title.text }}</label>
                    {% endif %}
                    {% for n in page.navigation.all %}
                        {% include "core/includes/pagenavigation-button.html" with pagenav=n %}
                    {% endfor %}
                </div>
            {% endif %}
            {% endblock buttons %}

            {% endblock container_content %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
