{% extends "core/page.html" %}
{% load i18n %}
{% load static %}
{% block paragraph_content %}
<p>
    {% blocktranslate %}
    Cal-ITP is a new program serving all Californians.
    In order to activate your discount, you need a bank card that has the contactless symbol on it.
    The contactless symbol is four curved lines and it looks like this:
    {% endblocktranslate %}
</p>
<p class="contactless-symbol">
    <img class="icon mx-auto d-block" src="{% static 'img/icon/contactless.svg' %}" alt="{% translate "The contactless symbol" %}" />
</p>
<p>{% translate "A contactless bank card can be" %}:</p>
<ul>
    <li>{% translate "A credit card" %}</li>
    <li>{% translate "A debit card" %}</li>
    <li>{% translate "A prepaid card (if it includes a Visa logo)" %}</li>
</ul>
<p>
    {% blocktranslate %}
    We are working to add additional options for people who do not have access to a bank card.
    Please check back on this website, or get in touch with your local transit provider.
    {% endblocktranslate %}
</p>
<p>
    {% translate "You can still get your discount by going through your local transit provider’s application process." %}
</p>
{% endblock %}
