{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrahead %}
  {% include "admin/includes/favicon.html" %}
  {% include "core/includes/bootstrap-css.html" %}
  {% include "admin/includes/style-admin.html" %}
  {% include "core/includes/ready-js.html" %}
  {% include "core/includes/analytics.html" with api_key=analytics.api_key uid=analytics.uid did=analytics.did %}
{% endblock extrahead %}

{% block coltype %}
  w-100
{% endblock coltype %}

{% block bodyclass %}
  {{ block.super }} dashboard
{% endblock bodyclass %}

{% block nav-breadcrumbs %}
{% endblock nav-breadcrumbs %}

{% block nav-sidebar %}
{% endblock nav-sidebar %}

{% block content_title %}
{% endblock content_title %}

{% block content %}
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
