{% extends "admin/agency-base.html" %}
{% load i18n static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pt-0 pb-3 text-left">{{ agency.long_name }}</h1>
            {% if has_permission_for_in_person %}
                <div class="border border-3 p-3">
                    <h2 class="pt-0 pb-2 text-left">In-person enrollment</h2>
                    <p>Verify transit benefit eligibility using agency criteria and complete a rider’s open-loop card enrollment.</p>
                    {% url routes.IN_PERSON_ELIGIBILITY as url_eligibility %}
                    <div class="row pt-4">
                        <div class="col-lg-2">
                            <a href="{{ url_eligibility }}" class="btn btn-lg btn-primary d-block">New enrollment</a>
                        </div>
                    </div>
                </div>
                {% if transit_processor_portal_url %}
                    <div class="border border-3 p-3 mt-4">
                        <h2 class="pt-0 pb-2 text-left">Transit Processor</h2>
                        <p>Manage fare-calculation, view rider transactions, and process refunds.</p>
                        <div class="row pt-4">
                            <div class="col-lg-3">
                                <a href="{{ transit_processor_portal_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-outline-primary">Launch Littlepay Control Portal</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock content %}
