{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
    <link href="{% static "css/admin/styles.css" %}" rel="stylesheet">
    <link href="{% static "img/favicon.ico" %}" rel="icon" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
{% endblock extrastyle %}

{% block title %}
{% endblock title %}

{% block branding %}
    <div id="header-container" class="navbar navbar-expand-sm navbar-dark justify-content-between">
        <div class="container">
            <span class="navbar-brand p-0">
                <img class="sm d-lg-none" src="{% static "img/logo-sm.svg" %}" width="90" height="51.3" alt="California Integrated Travel Project: Benefits logo (small)" />
                <img class="lg d-none d-lg-block" src="{% static "img/logo-lg.svg" %}" width="220" height="50" alt="California Integrated Travel Project: Benefits logo (large)" />
            </span>
        </div>
        <h1 class="p-0 m-0 text-white">Administrator</h1>
    </div>
{% endblock branding %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                <span class="text-uppercase text-white">
                    Welcome,
                    <span class="fw-bold">{% firstof user.get_short_name user.get_username %}</span>. </span>
                {% endblock welcome-msg %}
                {% block userlinks %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}<a href="{{ docsroot }}">Documentation</a> /{% endif %}
                    {% endif %}
                    {% if user.has_usable_password %}
                        <a href="{% url 'admin:password_change' %}">Change password</a> /
                    {% endif %}
                    <img class="icon" width="15" height="15" src="{% static "img/icon/box-arrow-right.svg" %}" alt="" />
                    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="border-0">Sign out</button>
                    </form>
                {% endblock userlinks %}
            </div>
        {% endif %}
    {% endblock usertools %}

    {% block coltype %}
        w-100
    {% endblock coltype %}

    {% block bodyclass %}
        {{ block.super }} dashboard
    {% endblock bodyclass %}

    {% block nav-breadcrumbs %}
    {% endblock nav-breadcrumbs %}

    {% block nav-sidebar %}
    {% endblock nav-sidebar %}

    {% block content_title %}
    {% endblock content_title %}

    {% block content %}
    {% endblock content %}

    {% block sidebar %}
    {% endblock sidebar %}
