{% extends "admin/agency-base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="bg-white offset-lg-3 col-lg-5 border border-1 border-secondary px-0">
      <div class="border border-1 border-top-0 border-start-0 border-end-0 border-secondary">
        <h2 class="p-3 m-0 text-start">In-person enrollment</h2>
      </div>
      {% block flow-content %}
      {% endblock flow-content %}
    </div>
  </div>
{% endblock content %}
