{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}
  {% include "core/includes/bootstrap-css.html" %}
  <link href="{% static "css/admin/styles.css" %}" rel="stylesheet">
  <link href="{% static "css/admin/theme.css" %}" rel="stylesheet">

  {% comment %} Overriding instead of extending agency-base here to remove jQuery declaration, which admin/login.html includes on its own {% endcomment %}
  {% include "core/includes/analytics.html" with api_key=analytics.api_key uid=analytics.uid did=analytics.did %}
{% endblock extrastyle %}

{% block bodyclass %}
  {{ block.super }} login bg-secondary-subtle
{% endblock bodyclass %}

{% block branding %}
  {% include "admin/includes/branding.html" %}
{% endblock branding %}

{% block content %}
  {% if form.errors and not form.non_field_errors %}<p class="errornote">Please correct the error(s) below.</p>{% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}<p class="errornote">{{ error }}</p>{% endfor %}
  {% endif %}

  <div id="content-main">

    {% if user.is_authenticated %}
      <p class="errornote">
        You are authenticated as {{ username }}, but are not authorized to
        access this page. Would you like to login to a different account?
      </p>
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">
      {% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        {% url "admin_password_reset" as password_reset_url %}
        {% if password_reset_url %}
          <div class="password-reset-link mt-1">
            <a href="{{ password_reset_url }}">Forgot password?</a>
          </div>
        {% endif %}
        <input type="hidden" name="next" value="{{ next }}">
      </div>
      <div class="login-submit-row">
        <input type="submit" value="Log in">
      </div>

      {% if request.recaptcha %}
        {% include "core/includes/recaptcha.html" %}
      {% endif %}
    </form>
  </div>
{% endblock content %}
