{% extends "admin/login.html" %}

{% block bodyclass %}
  {{ block.super }} bg-secondary-subtle
{% endblock bodyclass %}

{% block extrastyle %}
  {% comment %} Overriding instead of extending agency-base here to remove jQuery declaration, which admin/login.html includes on its own {% endcomment %}
  {% include "admin/includes/favicon.html" %}
  {% include "core/includes/bootstrap-css.html" %}
  {% include "admin/includes/style-admin.html" %}
{% endblock extrastyle %}

{% block header %}
  {% include "admin/includes/branding-login.html" %}
{% endblock header %}

{% block content %}
  {% if form.errors and not form.non_field_errors %}<p class="errornote">Please correct the error(s) below.</p>{% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}<p class="errornote">{{ error }}</p>{% endfor %}
  {% endif %}

  <div id="content-main">

    {% if user.is_authenticated %}
      <p class="errornote">
        You are authenticated as {{ username }}, but are not authorized to
        access this page. Would you like to login to a different account?
      </p>
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">
      {% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}">
      </div>
      {% url "admin_password_reset" as password_reset_url %}
      {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{{ password_reset_url }}">Forgotten your login credentials?</a>
        </div>
      {% endif %}
      <div class="submit-row">
        <input type="submit" value="Log in">
      </div>

      {% if request.recaptcha %}
        <script nonce="{{ request.csp_nonce }}" src="{{ request.recaptcha.script_api }}"></script>

        {% comment %}
        Adapted from https://stackoverflow.com/a/63290578/453168
        {% endcomment %}

        {% comment %}
        hidden input field will later send g-recaptcha token back to server
        {% endcomment %}
        <input type="hidden" name="{{ request.recaptcha.data_field }}" value="">

        <div class="pt-8">{% include "core/includes/recaptcha-text.html" %}</div>

        <script nonce="{{ request.csp_nonce }}">
        function recaptchaSubmit(event) {
          // checks the validity of the form. Return if invalid; HTML5 validation errors should display
          if (!event.currentTarget.form.checkValidity()) {
            return;
          }
          // form is client-side valid; taking over the remainder of processing
          event.preventDefault();

          // assign to a variable since `event.currentTarget` will be null inside the `grecaptcha.execute` Promise.
          // https://developer.mozilla.org/en-US/docs/Web/API/Event/currentTarget
          let currentTarget = event.currentTarget;

          grecaptcha.ready(function() {
            grecaptcha.execute("{{ request.recaptcha.site_key }}", { action: "submit" }).then(function(token) {
                // add the token to hidden form element
                currentTarget.form.elements["{{ request.recaptcha.data_field }}"].value = token;
                // trigger the custom "submitting" event
                // since calling .submit() does not trigger the "submit" event
                // hence the normal handler won't apply
                const customEvent = new CustomEvent("submitting");
                currentTarget.form.dispatchEvent(customEvent);
                // submit the form to server
                currentTarget.form.submit(currentTarget);
            });
          });
        };

        // bind the above handler to submit click
        document.querySelector("#login-form input[type=submit]").addEventListener("click", recaptchaSubmit);
        </script>
      {% endif %}
    </form>
  </div>
{% endblock content %}
