{% extends "metro_mobility_wallet/base.html" %}
{% load i18n %}


{% block headline %}
  <h1 class="pb-4">Metro Mobility Wallet Pilot Program</h1>
{% endblock headline %}

{% block inner-content %}
  {% get_available_languages as LANGUAGES %}
  {% translate "Encouraging transportation equity by promoting access to opportunities, reducing gas emissions and improving economic and health outcomes for people in Los Angeles County." %}
  {% for code, lang in LANGUAGES %}
    <form method="post" action="{% url "set_language" %}">
      {% csrf_token %}
      {% get_language_info for code as langinfo %}
      <input name="next" type="hidden" value="{{ redirect_to }}" />
      <input name="language" type="hidden" value="{{ code }}" />
      <button type="submit">{{ langinfo.name_local | capfirst }}</button>
    </form>
  {% endfor %}
{% endblock inner-content %}

{% block call-to-action-button %}
  <a href="{% url routes.INDEX %}" class="btn btn-lg btn-primary">Benefits home</a>
{% endblock call-to-action-button %}
