{% extends "core/base.html" %}

{% load i18n %}

{% block preload %}
  <script nonce="{{ request.csp_nonce }}" src="https://secure.nmi.com/token/Collect.js" data-tokenization-key="{{ collect_js_api_key }}">
  </script>
{% endblock preload %}

{% block inner-content %}
  <script nonce="{{ request.csp_nonce }}">
  const errInfoSvg = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z" fill="#DE0E10" />
      </svg>`;

  // we substitute a single custom error message per field so that we can translate it
  const errMap = {
    ccnumber:
      errInfoSvg +
      " Please enter a valid credit card number from Visa, Discover or Mastercard.",
    ccexp: errInfoSvg + " Please enter an expiration date in a MM/YY format.",
  };

  const errColor = "#de0e10";

  const opts = {
    paymentSelector: "#tokenizeButton",
    variant: "inline",
    invalidCss: {
      color: errColor,
      "border-color": errColor,
    },
    fields: {
      ccnumber: {
        selector: "#ccnumber",
        placeholder: "1111 1111 1111 1111",
        enableCardBrandPreviews: "true",
      },
      ccexp: {
        selector: "#ccexp",
        title: "Expiration date",
        placeholder: "MM / YY",
      },
      cvv: {
        display: "show", // omitting this prop results in tokenization failure
        selector: "#cvv",
        title: "Security code",
        placeholder: "123",
      },
    },
    timeoutDuration: 10000,
    validationCallback: function (field, valid) {
      const errNode = document.querySelector(`#${field} + .cjs-error`);
      if (!errNode) return;

      errNode.innerHTML = valid ? "" : errMap[field];
    },
    timeoutCallback: function () {
      console.error(
        "Tokenization didn't complete in the expected timeframe. This could be due to an invalid or incomplete field or poor connectivity",
      );
    },
    callback: function (response) {
      const form = document.querySelector("form#{{ form_success }}");
      form.querySelector("#card_token").value = response.token;
      form.submit();
    },
  };

  document.addEventListener("DOMContentLoaded", function () {
    CollectJS.configure(opts);
  });

  </script>
  <h1 class="mb-4">{% translate "Enter card details" %}</h1>
  <form id="tokenization-form" method="post">
    {% csrf_token %}
    <div class="cjs-input mt-3">
      <span>{% translate "Card number" %}</span>
      <div id="ccnumber"></div>
      <div class="cjs-error"></div>
    </div>
    <div class="cjs-input mt-4">
      <span>{% translate "Expiration date" %}</span>
      <div id="ccexp"></div>
      <div class="cjs-error"></div>
    </div>
    <div id="cvv" hidden></div>
    <button class="btn btn-lg btn-primary mt-5" id="tokenizeButton" type="button">{% translate "Register your card" %}</button>
  </form>

  {% for f in forms %}
    {% include "core/includes/form.html" with form=f %}
  {% endfor %}
{% endblock inner-content %}
