{% load static %}
<div class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-between">
    <div class="container">
        <span class="navbar-brand">
            <img class="sm d-md-none" src="{% static "img/logo-sm.svg" %}" alt="California Integrated Travel Project logo (small)" />
            <img class="lg d-none d-md-block" src="{% static "img/logo-lg.svg" %}"  alt="California Integrated Travel Project logo (large)" />
        </span>
        <span class="form-inline">
            <button class="btn btn-lg btn-outline-light">Español</button>
        </span>
    </div>
</div>