{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}{% endblock  %}Cal-ITP</title>

        <link href="https://fonts.googleapis.com/css?family=Asap+Condensed:400,600|Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">
        <link href="https://california.azureedge.net/cdt/statetemplate/6.0.2/css/cagov.core.css" rel="stylesheet">
        <link href="https://california.azureedge.net/cdt/statetemplate/6.0.2/css/colorscheme-oceanside.css" rel="stylesheet">
        <link href="{% static "core/css/styles.css" %}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
    </head>
    <body>
        <header role="banner" id="header" class="global-header">
            <div id="skip-to-content">
                <a href="#main-content">Skip to Main Content</a>
            </div>

            {% if debug %}
            {% include "core/includes/debug.html" %}
            {% endif %}

            {% include "core/includes/branding.html" %}
        </header>
        <div id="main-content" class="main-content">
            <div class="container">
                <main class="main-primary">
                    {% block main_content %}{% endblock %}
                </main>
            </div>
        </div>

        <script src="https://california.azureedge.net/cdt/statetemplate/6.0.2/js/cagov.core.js"></script>
    </body>
</html>

