{% extends "core/base.html" %}

{% block page_title %}Transit Discount Eligibility Verification | {% endblock %}

{% block main_content %}
    <h1>Welcome to California Transit Discount Eligibility Verification</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="{% url 'eligibility:index' %}">Get Started</a>
    </p>
{% endblock %}