{% extends "core/base.html" %}

{% if page.title %}
{% block page_title %}{{ page.title }} | {% endblock %}
{% endif %}

{% block main_content %}
    <div class="container content-container">
    {% if page.content_title %}
    <h1>
        {% if page.icon %}
        <div class="page-icon">
            {% include "core/includes/icon.html" with icon=page.icon.icon alt=page.icon.alt %}
        </div>
        {% endif %}
        {{ page.content_title }}
    </h1>
    {% endif %}

    {% for p in page.paragraphs %}
    <p>
        {{ p }}
    </p>
    {% endfor %}

    {% if page.steps %}
    <div class="steps">
    {% for step in page.steps %}
        <div class="step-container">
            <span class="number bg-highlight">{{ forloop.counter }}</span><span class="step">{{ step }}</span>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    {% if page.form %}
    {% include "core/includes/form.html" with form=page.form %}
    {% endif %}

    {% if page.debug %}
    <h2>Debug information</h2>
    {% include "core/includes/data.html" with data=page.debug %}
    {% endif%}

    {% if page.prev_button or page.next_button %}
    <div class="buttons">
    {% endif %}

    {% if page.prev_button %}
    {% include "core/includes/button.html" with button=page.prev_button %}
    {% endif %}

    {% if page.next_button %}
    {% include "core/includes/button.html" with button=page.next_button %}
    {% endif %}

    {% if page.prev_button or page.next_button %}
    </div>
    {% endif %}
    </div>
{% endblock %}