{% extends "core/base.html" %}

{% if page.title %}
{% block page_title %}{{ page.title }} | {% endblock %}
{% endif %}

{% block main_content %}
    {% if page.image %}
        {% include "core/includes/image.html" with src=page.image.src alt=page.image.alt %}
    {% endif %}

    <div class="container">
    {% if page.content_title %}
        {% if page.icon %}
                {% include "core/includes/icon-title.html" with title=page.content_title icon=page.icon %}
        {% else %}
            <h1>{{ page.content_title }}</h1>
        {% endif %}
    {% endif %}

        {% if page.media|length_is:"0" %}{% else %}
            {% include "core/includes/media-list.html" with items=page.media %}
        {% endif %}

    {% for p in page.paragraphs %}
        <p>{{ p }}</p>
    {% endfor %}

    {% if page.form %}
            {% include "core/includes/form.html" with form=page.form %}
    {% endif %}

    {% if page.buttons|length_is:"0" %}{% else %}
        <div class="buttons">
        {% for b in page.buttons %}
                {% include "core/includes/button.html" with button=b %}
        {% endfor %}
        </div>
    {% endif %}

        {% if page.debug %}
            <h2>Debug information</h2>
            {% include "core/includes/data.html" with data=page.debug %}
        {% endif%}
    </div>
{% endblock %}