{% extends "core/page.html" %}

{% block paragraph_content %}
<p>Cal-ITP is a new program serving all Californians. In order to use the service this website provides, you need a payment card. A payment card can be:</p>
<ul>
    <li>A credit card</li>
    <li>A debit card</li>
    <li>A prepaid card (if it includes a Visa or Mastercard logo)</li>
</ul>
<p>We are working to add additional options for people who do not have access to a payment card. Please check back on this website or get in touch with your local transit provider.</p>
<p>You can still get your discount by going through your local transit provider’s application process.</p>
{% endblock %}
