body, h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-family: "Roboto", sans-serif;
    font-weight: 550;
}

p {
    margin-bottom: 1rem;
}

.navbar-brand img.sm {
    width: 120px;
}

.btn-lg {
    border-width: 2px;
    width: 100%;
}

main .btn-lg {
    padding: 1rem;
}

main h1 .page-icon {
    text-align: center;
}

main h1 ~ p:nth-last-of-type(1) {
    margin-bottom: 2rem;
}

.steps {
    min-height: 4rem;
    margin-bottom: 4rem;
}

.steps .step-container {
    margin-bottom: 4rem;
    height: 1.5rem;
}

.steps .step-container .number {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    font-weight: 800;
    text-align: center;
    font-size: 1.3rem;
}

.form-group:nth-last-of-type(2) {
    margin-bottom: 4rem;
}

.form-control {
    border-radius: 0.25rem;
    border-color: #212121;
    border-width: 2px;
    color: #212121;
}

.form-control-lg {
    border-radius: 0.3rem;
}

.invalid-feedback {
    display: block;
}

main p.buttons {
    margin-top: 4rem;
}
