p {
    margin-bottom: 1rem;
}

.navbar-brand img.sm {
    width: 120px;
}

.btn-lg {
    border-width: 2px;
    width: 100%;
}

main :last-child .btn {
    margin-top: 1.5rem;
}

h1 .page-icon {
    text-align: center;
}

.invalid-feedback {
    display: block;
}
