{% extends "enrollment/index-base.html" %}
{% load i18n %}

{% block enrollment-form %}

  <script type="module" nonce="{{ request.csp_nonce }}">
    import { StRpClient } from 'https://cdn.jsdelivr.net/npm/@switchio/st-rp-sdk@1.0.2/index.min.js';

    function tokenizeInIframeModal(gtwUrl) {
      StRpClient.tokenizeInIframe({
        tokenizationParams: { uri: gtwUrl },
        festparams: { mode: 'modal' },
      }).then((x) => {
        if (x.type === 'success') {
          console.log('Successfully tokenized.', x);
          return;
        }
        console.log('Tokenization failed.', x);
      });
    }

    window.fetch("{% url routes.ENROLLMENT_SWITCHIO_GATEWAY_URL %}")
        .then(response => response.json()
        .then(data => tokenizeInIframeModal(data.gateway_url)));
  </script>

{% endblock enrollment-form %}
