{% extends "error-base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Service is down" %}
{% endblock page-title %}

{% block icon %}
  {% include "core/includes/icon.html" with name="sadbus" %}
{% endblock icon %}

{% block headline-text %}
  {% translate "There was a problem with the service that checks your identity." %}
{% endblock headline-text %}

{% block paragraphs %}
  <p>
    {% translate "We’re working to solve the problem. Please wait 24 hours and try to enroll again, or contact your transit agency for help." %}
    {% include "core/includes/agency-links.html" %}
  </p>
{% endblock paragraphs %}
