{% extends "core/base.html" %}

{% block page-title %}
  {{ form.title }}
{% endblock page-title %}

{% block nav-buttons %}
  {% url routes.ELIGIBILITY_START as url_previous %}
  {% include "core/includes/button--previous-page.html" with url=url_previous %}
{% endblock nav-buttons %}

{% block headline %}
  <div class="col-lg-6">
    <h1>{{ form.headline }}</h1>
  </div>
{% endblock headline %}

{% block explanatory-text-wrapper %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      {% block explanatory-text %}
        <p class="pt-4 pb-4">{{ form.blurb }}</p>
      {% endblock explanatory-text %}
    </div>
  </div>
{% endblock explanatory-text-wrapper %}

{% block inner-content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">{% include "core/includes/form.html" with form=form %}</div>
  </div>
{% endblock inner-content %}

{% comment %} Override with empty block to prevent rendering empty divs {% endcomment %}
{% block call-to-action %}
{% endblock call-to-action %}
