{% extends "eligibility/index.html" %}

{% load i18n %}

{% block form-text %}
  <p class="pt-4">
    {% translate "Cal-ITP doesn’t save any of your information. All SacRT transit benefits reduce fares by 50% for bus service on fixed routes." %}
  </p>
  <p class="pt-4 pb-4">
    {% translate "With the new Tap2Ride fare system launching in 2025, SacRT riders that are eligible for discount fares can enroll below. The discount benefit will be available on all SacRT buses beginning in early 2025 and will include light rail tap devices later in the year." %}
  </p>
{% endblock form-text %}
