{% extends "core/base.html" %}

{% block main_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                {% block icon_title %}
                    <h1>{{ page.headline }}</h1>
                {% endblock icon_title %}

                {% block paragraph_content %}
                    {% for p in page.paragraphs %}<p class="pt-4 pb-4 pb-lg-8">{{ p }}</p>{% endfor %}
                {% endblock paragraph_content %}
            </div>
        </div>

        <div class="row">
            {% block forms %}
                {% for f in page.forms %}
                    {% include "core/includes/form.html" with classes=page.classes form=f %}
                {% endfor %}
            {% endblock forms %}
        </div>
    </div>
{% endblock main_content %}
