{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page-title %}
    {% translate "Medicare benefit overview" %}
{% endblock page-title %}

{% block headline-text %}
    {% translate "You selected a Medicare Cardholder transit benefit." %}
{% endblock headline-text %}

{% block eligibility-item %}
    {% include "eligibility/includes/eligibility-item--identification--start--medicare.html" %}
{% endblock eligibility-item %}

{% block call-to-action-button %}
    <a href="{% url routes.OAUTH_LOGIN %}" class="btn btn-lg btn-primary" role="button">{% translate "Continue to Medicare.gov" %}</a>
{% endblock call-to-action-button %}
