{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Older Adult benefit overview" %}
{% endblock page-title %}

{% block headline %}
  <div class="col-lg-6">
    <h1>{% translate "You selected an Older Adult transit benefit." %}</h1>
  </div>
{% endblock headline %}

{% block eligibility-item %}
  {% include "eligibility/includes/eligibility-item--identification--start--login-gov.html" %}
{% endblock eligibility-item %}

{% block call-to-action-button %}
  {% translate "Get started with" as button_text %}
  <a href="{% url routes.OAUTH_LOGIN %}" class="btn btn-lg btn-primary login">
    {{ button_text }} <span class="fallback-text white-logo">Login.gov</span>
  </a>
{% endblock call-to-action-button %}
