{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "eligibility.pages.start.mst_cc.title" %}&nbsp;|&nbsp;
{% endblock page-title %}

{% block headline %}
  <div class="col-lg-10">
    <h1>{% translate "eligibility.pages.start.mst_cc.headline" %}</h1>
  </div>
{% endblock headline %}

{% block media-item %}
  {% include "eligibility/includes/media-item--idcardcheck--start--mst-courtesy-card.html" %}
{% endblock media-item %}

{% block call-to-action-button %}
  {% url "eligibility:confirm" as button_url %}
  <a href="{{ button_url }}" class="btn btn-lg btn-primary" role="button">{% translate "eligibility.buttons.continue" %}</a>
{% endblock call-to-action-button %}
