{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page_title %}
  {% translate "eligibility.pages.start.login_gov.title" %}&nbsp;|&nbsp;
{% endblock page_title %}

{% block headline %}
  <div class="col-lg-10">
    <h1>{% translate "eligibility.pages.start.login_gov.headline" %}</h1>
  </div>
{% endblock headline %}

{% block media-item %}
  {% include "eligibility/includes/media_item__idcardcheck__start__login_gov.html" %}
{% endblock media-item %}

{% block call-to-action-button %}
  {% url "oauth:login" as button_url %}
  {% translate "eligibility.buttons.senior.signin" as button_text %}
  <a href="{{ button_url }}" class="btn btn-lg btn-primary" id="login">
    {{ button_text }} <span class="fallback-text white-logo">Login.gov</span>
  </a>
{% endblock call-to-action-button %}
