{% extends "eligibility/start.html" %}
{% load i18n %}
{% load eligibility %}

{% block page_title %}
  {% translate "eligibility.pages.start.login_gov.title" %}&nbsp;|&nbsp;
{% endblock page_title %}

{% block headline %}
  <div class="col-lg-10">
    <h1>{% translate "eligibility.pages.start.login_gov.headline" %}</h1>
  </div>
{% endblock headline %}

{% block media-list %}
  {% translate "core.icons.idcardcheck" context "image alt text" as icon_alt %}
  {% translate "eligibility.pages.start.login_gov.start_item.heading" as heading %}
  {% translate "eligibility.pages.start.login_gov.start_item.details" as details %}
  {# djlint: off #}
  {% media_item icon="idcardcheck" icon_alt=icon_alt heading=heading %}
  <div class="media-body--details">
      <p>{{ details }}</p>
      <div class="media-body--items">
          <ul>
              <li>{% translate "eligibility.pages.start.login_gov.required_items[0]" %}</li>
              <li>{% translate "eligibility.pages.start.login_gov.required_items[1]" %}</li>
              <li>{% translate "eligibility.pages.start.login_gov.required_items[2]" %}</li>
          </ul>
      </div>
  </div>
  {% endmedia_item %}
  {# djlint: on #}
  {% media_item__start__bankcardcheck %}
{% endblock media-list %}
