{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Agency card overview" %}
{% endblock page-title %}

{% block headline %}
  <div class="col-lg-6">
    <h1>{% translate "You selected an Agency Card transit benefit." %}</h1>
  </div>
{% endblock headline %}

{% block media-item %}
  {% include "eligibility/includes/media-item--identification--start--cst-agency-card.html" %}
{% endblock media-item %}

{% block call-to-action %}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <a href="{% url routes.ELIGIBILITY_CONFIRM %}" class="btn btn-lg btn-primary" role="button">{% translate "Continue" %}</a>
    </div>
  </div>
{% endblock call-to-action %}
