{% extends "eligibility/start.html" %}
{% load i18n %}
{% load core %}
{% load eligibility %}

{% block page_title %}
  {% translate "eligibility.pages.start.veteran.title" %}&nbsp;|&nbsp;
{% endblock page_title %}

{% block headline %}
  <div class="col-lg-10">
    <h1>{% translate "eligibility.pages.start.veteran.headline" %}</h1>
  </div>
{% endblock headline %}

{% block media-list %}
  {% media_item__idcardcheck__veteran %}
  {% media_item__bankcardcheck %}
{% endblock media-list %}

{% block call-to-action-button %}
  {% url "oauth:login" as button_url %}
  {% translate "eligibility.buttons.veteran.signin" as button_text %}
  {# djlint:off #}
  {% button url=button_url classes="btn btn-lg btn-primary" %}
      {{ button_text }}
  {% endbutton %}
  {# djlint:on #}
{% endblock call-to-action-button %}
