{% extends "core/page.html" %}

{% block container_content %}

    {% block icon_title %}
    {{ block.super }}
    {% endblock %}

    {% block media_list %}
    {% if media|length_is:"0" %}{% else %}
    <div class="media-list">
    {% for item in media %}
        <div class="media">
            <div class="media-left">
                {% include "core/includes/icon.html" with icon=item.icon %}
            </div>
            <div class="media-body">
                <div class="media-body--title">
                    <strong>{{ item.heading }}</strong>
                </div>
                <div class="media-body--content">
                    {{ item.details }}
                </div>
                <div class="media-body--links">
                    {% for l in item.links %}
                        {% include "core/includes/button.html" with button=l %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

    {% block buttons %}
    {{ block.super }}
    {% endblock %}

{% endblock %}
