{% extends "core/base.html" %}
{% load i18n %}

{% block classes %}
  {{ block.super | add:" eligibility-start" }}
{% endblock classes %}

{% block nav-buttons %}
  {% url routes.ELIGIBILITY_INDEX as url %}
  {% include "core/includes/button--previous-page.html" with url=url %}
{% endblock nav-buttons %}

{% block inner-content %}
  <div class="col-lg-6">
    <p class="py-4">{% translate "You will need a few items to continue:" %}</p>
    <ul class="d-flex flex-column gap-4 list-unstyled ps-0 pb-5 mb-3">
      {% block media-item %}
      {% endblock media-item %}
      {% include "eligibility/includes/media-item--contactless-card--start.html" %}
    </ul>
  </div>
{% endblock inner-content %}

{% block call-to-action %}
{% endblock call-to-action %}
