{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "Agency card overview" %}
{% endblock page-title %}

{% block headline-text %}
  {% translate "You selected an Agency Card transit benefit." %}
{% endblock headline-text %}

{% block eligibility-item %}
  {% include "eligibility/includes/eligibility-item--identification--start--cst-agency-card.html" %}
{% endblock eligibility-item %}

{% block call-to-action-button %}
  <a href="{% url routes.ELIGIBILITY_CONFIRM %}" class="btn btn-lg btn-primary" role="button">{% translate "Continue" %}</a>
{% endblock call-to-action-button %}
