{% extends "eligibility/start.html" %}
{% load i18n %}
{% load core %}
{% load eligibility %}

{% block page_title %}
  {% translate "eligibility.pages.start.mst_cc.title" %}&nbsp;|&nbsp;
{% endblock page_title %}

{% block headline %}
  <div class="col-lg-10">
    <h1>{% translate "eligibility.pages.start.mst_cc.headline" %}</h1>
  </div>
{% endblock headline %}

{% block media-list %}
  {% translate "core.icons.idcardcheck" context "image alt text" as icon_alt %}
  {% translate "eligibility.pages.start.mst_cc.start_item.heading" as heading %}
  {% translate "eligibility.pages.start.mst_cc.start_item.details" as details %}
  {# djlint: off #}
  {% media_item icon="idcardcheck" icon_alt=icon_alt heading=heading %}
  <div class="media-body--details">
      <p>{{ details }}</p>
  </div>
  {% endmedia_item %}
  {# djlint: on #}
  {% media_item__start__bankcardcheck %}
{% endblock media-list %}

{% block call-to-action-button %}
  {% url "eligibility:confirm" as button_url %}
  {% translate "eligibility.buttons.continue" as button_text %}
  {# djlint:off #}
  {% button url=button_url classes="btn btn-lg btn-primary" %}
      {{ button_text }}
  {% endbutton %}
  {# djlint:on #}
{% endblock call-to-action-button %}
