{% extends "eligibility/start.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "CalFresh benefit overview" %}
{% endblock page-title %}

{% block headline %}
  <div class="col-lg-8">
    <h1>{% translate "You selected a CalFresh Cardholder transit benefit." %}</h1>
  </div>
{% endblock headline %}

{% block media-item %}
  {% include "eligibility/includes/media-item--idcardcheck--start--calfresh.html" %}
{% endblock media-item %}

{% block call-to-action %}
  <div class="row d-flex justify-content-lg-end">
    <div class="col-lg-4 offset-2 offset-lg-0 col-sm-8 col-8 d-flex justify-content-lg-end justify-content-center">
      {% url "oauth:login" as button_url %}
      {% translate "Get started with" as button_text %}
      <a href="{{ button_url }}" class="btn btn-lg btn-primary login">
        {{ button_text }} <span class="fallback-text white-logo">Login.gov</span>
      </a>
    </div>
  </div>
{% endblock call-to-action %}
