{% extends "core/base.html" %}
{% load i18n %}

{% block page-title %}
  {% translate "eligibility.pages.unverified.title" %}
{% endblock page-title %}

{% block main-content %}
  {% if authentication and authentication.sign_out_link_template %}
    {% include authentication.sign_out_link_template %}
  {% endif %}

  <div class="container">
    <h1 class="h2 text-center">
      <span class="icon d-block pb-5">
        {% translate "core.icons.idcardquestion" context "image alt text" as alt_i18n %}
        {% include "core/includes/icon.html" with name="idcardquestion" alt=alt_i18n %}
      </span>
      {% translate "eligibility.pages.unverified.headline" %}
    </h1>

    <div class="row justify-content-center">
      <div class="col-lg-8 pt-4">
        <p>
          {% translate "eligibility.pages.unverified.p[0]s[0]" %}
          {% blocktranslate with short_name=agency.short_name %}eligibility.pages.unverified.p[0]s[1]{{ short_name }}{% endblocktranslate %}
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">{% include "core/includes/agency-links.html" %}</div>
    </div>

    <div class="row pt-8 justify-content-center">
      <div class="col-lg-3 col-8">{% include "core/includes/button--origin.html" %}</div>
    </div>

  </div>
{% endblock main-content %}
