{% extends "core/base.html" %}

{% block main_content %}
  {% include "core/includes/sign-out-link.html" %}

  <div class="container">
    {% include "core/includes/icon-title.html" with title=page.headline icon=page.icon %}

    <div class="row justify-content-center">
      <div class="col-lg-8 pt-4">
        {% for p in page.paragraphs %}<p>{{ p }}</p>{% endfor %}
      </div>
    </div>

    {% if agency_links %}
      <div class="row justify-content-center">
        <div class="col-lg-8">{% include "core/includes/agency-links.html" with buttons=agency_links %}</div>
      </div>
    {% endif %}

    <div class="row pt-8 justify-content-center">
      <div class="col-lg-3 col-8">{% include "core/includes/button--home.html" %}</div>
    </div>

  </div>
{% endblock main_content %}
