{% extends "eligibility/unverified.html" %}
{% load i18n %}

{% block headline-text %}
  {% translate "Your card information may not have been entered correctly." %}
{% endblock headline-text %}

{% block paragraphs %}
  <p>{{ body_text }}</p>
  {% include "core/includes/agency-links.html" %}
{% endblock paragraphs %}

{% block call-to-action-button %}
  {% translate "Try again" as button_text %}
  {% include "core/includes/button--origin.html" with button_text=button_text %}
{% endblock call-to-action-button %}
