{% extends "admin/flow-base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block flow-content %}
  <div class="loading">
    <p id="loading-message" class="pt-3 px-3">Please wait...</p>
    <div class="progress progress-indeterminate">
      <div class="progress-bar" role="progressbar" aria-label="progress bar"></div>
    </div>
  </div>
  <div class="p-3">
    <div class="invisible">
      <p>Provide the rider's contactless debit or credit card details.</p>
      <iframe class="card-collection" name="card-collection-iframe"></iframe>
    </div>
    <div class="row d-flex justify-content-start p-3 pt-8">
      <div class="col-12">
        {% url routes.ADMIN_INDEX as url_cancel %}
        <a href="{{ url_cancel }}" class="btn btn-lg btn-outline-primary d-block">Cancel</a>
      </div>
    </div>
  </div>

  <!--
        This hidden button is needed by the card tokenisation function's `element` option.
        The iframe's source isn't set until the button is clicked.
    -->
  <div class="d-none">
    <button id="{{ cta_button }}" href="#{{ cta_button }}" class="btn btn-lg btn-primary" role="button">Enroll</button>
  </div>

  {% include "enrollment/includes/jquery.html" %}

  <script nonce="{{ request.csp_nonce }}">
        var startedEvent = "started card tokenization", closedEvent = "finished card tokenization";

        // hack to keep loader on screen indefinitely
        // throw Error('whoops')
        $.ajax({ dataType: "script", attrs: { nonce: "{{ request.csp_nonce }}"}, url: "{{ transit_processor.card_tokenize_url }}" })
            .done(function() {
            $.get("{% url routes.IN_PERSON_ENROLLMENT_LITTLEPAY_TOKEN %}", function(data) {
                if (data.redirect) {
                  // https://stackoverflow.com/a/42469170
                  // use 'assign' because 'replace' was giving strange Back button behavior
                  window.location.assign(data.redirect);
                  return; // exit early so the rest of this function doesn't execute
                }

                $(".loading").addClass("d-none");
                $(".invisible").removeClass("invisible").addClass("visible");

                $("#{{ cta_button }}").on("click", function() {
                    amplitude.getInstance().logEvent(startedEvent, {
                        card_tokenize_url: "{{ transit_processor.card_tokenize_url }}",
                        card_tokenize_func: "{{ transit_processor.card_tokenize_func }}",
                        enrollment_method: "{{ enrollment_method }}"
                    });
                    $(this).addClass("disabled").attr("aria-disabled", "true").text("{{ loading_text }}");
                });

                // parse the JSON string back into a JS array
                // the escapejs filter handles e.g. quote conversion
                let card_schemes = JSON.parse('{{ card_schemes|escapejs }}');

                new Promise((resolve) => {
                    littlepay({
                        authorization: data.token,
                        element: '#{{ cta_button }}',
                        envUrl: '{{ transit_processor.card_tokenize_env }}',
                        options: {
                            color: '#046b99',
                            targetiframename: 'card-collection-iframe',
                            cardTypes: card_schemes
                        },
                        onTokenize: function (response) {
                            /* This function executes when the
                            /* card verification returns
                            /* successfully with a token from enrollment server */
                            amplitude.getInstance().logEvent(closedEvent, {status: "success", enrollment_method: "{{ enrollment_method }}"});

                            // hide the iframe
                            $(".visible").removeClass("visible").addClass("invisible");

                            // show the loading message
                            $(".loading").removeClass("d-none");
                            $("#loading-message").text("Registering this contactless card for reduced fares....");

                            var form = $("form#{{ form_success }}");
                            $("#{{ token_field }}", form).val(response.token);
                            form.submit();
                        },
                        onVerificationFailure: function (response) {
                            /* This function executes when the
                            /* card verification fails and server
                            /* return verification failure message */
                            amplitude.getInstance().logEvent(closedEvent, {status: "fail", enrollment_method: "{{ enrollment_method }}"});

                            var form = $("form#{{ form_retry }}");
                            form.submit();
                        },
                        onError: function (response) {
                            /* This function executes when the
                            /* server returns error or token is invalid.
                            /* 400 or 500 will return. */
                            amplitude.getInstance().logEvent(closedEvent, {status: "error", error: response, enrollment_method: "{{ enrollment_method }}"});

                            if (response.status >= 500) {
                            var form = $("form#{{ form_system_error }}");
                            } else {
                            var form = $("form#{{ form_server_error }}");
                            }
                            form.submit();
                        },
                        onCancel: function () {
                            /* This function executes when the
                            /* user cancels and closes the window
                            /* and returns to home page. */
                            amplitude.getInstance().logEvent(closedEvent, {status: "cancel", enrollment_method: "{{ enrollment_method }}"});

                            return location.reload();
                        }
                    });
                    resolve();
                }).then(() => $("#{{ cta_button }}").click())
                });
        })
        .fail(function(jqxhr, settings, exception) {
          $(".loading").remove();
          console.log(exception);
        });

  </script>

  {% for f in forms %}
    {% include "core/includes/form.html" with form=f %}
  {% endfor %}
{% endblock flow-content %}
