{% extends "admin/flow-base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block flow-content %}
  <div class="loading">
    <p id="loading-message" class="pt-3 px-3">{{ loading_message }}</p>
    <div class="progress progress-indeterminate">
      <div class="progress-bar" role="progressbar" aria-label="progress bar"></div>
    </div>
  </div>

  {% include "in_person/enrollment/switchio_script.html" with gateway_url_route=routes.IN_PERSON_ENROLLMENT_SWITCHIO_GATEWAY_URL %}

  {% for f in forms %}
    {% include "core/includes/form.html" with form=f %}
  {% endfor %}
{% endblock flow-content %}
