{% extends "error-base.html" %}

{% block error-message %}
  <h3 class="fw-bold h4">We're working to fix a problem.</h3>

  <p class="my-4">
    There is a problem with the application configuration, but we're working to fix it. Please try again in a little while.
  </p>
{% endblock error-message %}

{% block cta-buttons %}
  <div class="col-12">
    {% url routes.ADMIN_INDEX as url_return_to_dashboard %}
    <a href="{{ url_return_to_dashboard }}" class="btn btn-lg btn-primary d-block">Return to dashboard</a>
  </div>
{% endblock cta-buttons %}
