{% extends "admin/flow-base.html" %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block flow-content %}
  <div class="p-3 d-flex flex-column justify-content-between gap-3">
    <div class="d-flex align-items-center">
      <i class="success-icon"></i>
      <h3 class="h5 fw-bold mb-0">Success!</h3>
    </div>

    <div>
      {% if enrollment.supports_expiration %}
        <p>
          <span class="fw-bold my-3">This rider will enjoy a transit benefit until {{ enrollment.expires|date }}.</span> They will need to enroll again at that time to continue receiving reduced fares.
        </p>
      {% endif %}

      <p>{{ success_message }}</p>

      {% if agencies %}
        <ul>
          {% for agency in agencies %}<li class="fs-6 mb-2">{{ agency }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-6">
        {% url routes.IN_PERSON_ELIGIBILITY as url_eligibility %}
        <a href="{{ url_eligibility }}" class="btn btn-lg btn-outline-primary d-block">New enrollment</a>
      </div>
      <div class="col-6">
        {% url routes.ADMIN_INDEX as url_done %}
        <a href="{{ url_done }}" class="btn btn-lg btn-primary text-white d-block">Done</a>
      </div>
    </div>
  </div>
{% endblock flow-content %}
