{% extends "admin/flow-base.html" %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block flow-content %}
  <div class="p-3 min-vh-60 d-flex flex-column justify-content-between">
    <div class="d-flex">
      <i class="success-icon"></i>
      <div>
        <p>Success! This rider can now use their contactless card to automatically receive a reduced fare when they tap-to-ride.</p>

        {% if enrollment.supports_expiration %}
          <p>
            <span class="fw-bold my-3">This rider will enjoy a transit benefit until {{ enrollment.expires|date }}.</span> They will need to enroll again at that time to continue receiving reduced fares.
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {% url routes.IN_PERSON_ELIGIBILITY as url_eligibility %}
        <a href="{{ url_eligibility }}" class="btn btn-lg btn-outline-primary d-block">New enrollment</a>
      </div>
      <div class="col-6">
        {% url routes.ADMIN_INDEX as url_done %}
        <a href="{{ url_done }}" class="btn btn-lg btn-primary d-block">Done</a>
      </div>
    </div>
  </div>
{% endblock flow-content %}
