{% extends "error-base.html" %}

{% block error-message %}
    <h3 class="fw-bold h4">The enrollment system isn't working right now.</h3>

    <p class="my-4">Please wait 24 hours and try to enroll again.</p>
{% endblock error-message %}

{% block cta-buttons %}
    <div class="col-12">
        {% url routes.ADMIN_INDEX as url_return_to_dashboard %}
        <a href="{{ url_return_to_dashboard }}" class="btn btn-lg btn-primary d-block">Return to dashboard</a>
    </div>
{% endblock cta-buttons %}
