<div class="buttons-agencies">
    {% for agency_button in buttons %}
        {% if "agency" in agency_button.classes %}
            {% if agency_button.label != "phone" %}
                <strong>{{agency_button.label}}:</strong>
            {% else %}
                <a href="{{ agency_button.url }}">
                    {{ agency_button.text }}
                </a>
                <div class="mb-5"></div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% for back_button in buttons %}
    {% if "btn-primary" in back_button.classes %}
        <div class="button-back">
            {% include "core/includes/button.html" with button=back_button %}
        </div>
    {% endif %}
{% endfor %}
