{% extends "core/includes/modal.html" %}
{% load i18n %}
{% load static %}

{% block modal-content %}
    <div class="container text-center">
        <h3 id="{{ aria_labelledby_id }}" class="modal-title">{% translate "core.pages.index.agency_selector.headline" %}</h3>
        <div class="row gx-lg-5 mx-lg-1 d-flex flex-column flex-lg-row text-start text-lg-center">
            {% for agency in agencies %}
                <div class="col">
                    <a href="{{ agency.eligibility_index_url }}" class="card mt-lg-4 mx-lg-auto">
                        <div class="card-body d-flex flex-row-reverse flex-lg-column justify-content-center align-items-center">
                            <img class="sm d-lg-none ms-auto"
                                 src="{% get_static_prefix %}img/agencies/{{ agency.slug }}-sm.svg"
                                 width="46"
                                 height="29"
                                 alt="{% blocktranslate with agency_short_name=agency.short_name %}core.pages.index.agency_selector{{ agency_short_name }}{% endblocktranslate %}">
                            <img class="lg d-none d-lg-block mt-lg-3 mx-lg-auto"
                                 src="{% get_static_prefix %}img/agencies/{{ agency.slug }}-lg.svg"
                                 width="117"
                                 height="74"
                                 alt="{% blocktranslate with agency_short_name=agency.short_name %}core.pages.index.agency_selector{{ agency_short_name }}{% endblocktranslate %}">
                            <h4 class="card-title mt-lg-3 mb-0 mb-lg-3">{{ agency.long_name }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock modal-content %}
