{% load i18n %}
{% load static %}
<div class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-between">
    <div class="container">
        <span class="navbar-brand">
            <img class="sm d-lg-none" src="{% static "img/logo-sm.svg" %}" alt="{% translate "core.logo.small" context "image alt text" %}" />
            <img class="lg d-none d-lg-block" src="{% static "img/logo-lg.svg" %}"  alt="{% translate "core.logo.large" context "image alt text" %}" />
        </span>
        <span class="form-inline">
            {% include "core/includes/lang-selector.html" %}
        </span>
    </div>
</div>