{% load i18n %}
{% if form.action_url %}

  {% url form.action_url as form_action %}

  <form id="{{ form.id }}" action="{{ form_action }}" method="{{ form.method | default:"post" | upper }}">
    {% csrf_token %}

    <div class="form-field-container {{ form.classes }}">
      {% for field in form %}
        <div class="form-group mb-0{% if field.field.hide %} d-none{% endif %}">
          {# djlint:off #}
          {% if field.label %}
          <label for="{{ field.id_for_label }}" class="form-control-label">{{ field.label }}{% if field.field.required %}<span class="required-label text-body">*</span>{% endif %}
          </label>
          {% endif %}
          {# djlint:on #}

          {{ field }}

          {% if field.help_text %}
            <small class="d-block mt-2 pt-1 small-text form-text text-body">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if form.submit_value %}
      <div class="pt-8">
        <button class="btn btn-lg btn-primary spinner-hidden d-flex justify-content-center align-items-center"
                data-action="submit"
                type="submit"
                form="{{ form.id }}">
          <span class="btn-text">{{ form.submit_value }}</span>
          <span class="spinner-border spinner-border-sm"></span>
        </button>
      </div>
    {% endif %}

    <script nonce="{{ request.csp_nonce }}">
      ready(function() {
        let form = document.querySelector("#{{ form.id }}");

        let button = document.querySelector("#{{ form.id }} button[type=submit]");
        if (!button) {
          button = document.querySelector("button[type=submit][form={{ form.id }}]")
        }

        // listen for a custom "submitting" event on the form, for button interactions
        form.addEventListener("submitting", function(e) {
          if ("{{ form.submitting_value }}" !== "") {
            let buttonClasses = button.classList;
            buttonClasses.remove("spinner-hidden");
            buttonClasses.add("disabled");
            button.setAttribute("role", "status");
            button.setAttribute("disabled", "true");
            button.children[0].textContent = "{{ form.submitting_value }}";
          }
        });

        // on normal form submit, trigger the custom "submitting" event
        form.addEventListener("submit", function(e) {
          const event = new CustomEvent("submitting");
          form.dispatchEvent(event);
        });

        {% if form.use_custom_validity %}
        const validate = function(inputElement) {
          inputElement.setCustomValidity(""); // clearing message sets inputElement.validity.customError back to false

          const valid = inputElement.checkValidity();
          if (!valid) {
            inputElement.setCustomValidity(inputElement.dataset.customValidity);
          }
        }

        button.addEventListener("click", function(e) {
          // revalidate all fields
          document.querySelectorAll("[data-custom-validity]").forEach((element) => {
            if (element) {
              validate(element);
            }
          });
        });

        {% endif %}
    });
    </script>

    {% if request.recaptcha %}
      <script nonce="{{ request.csp_nonce }}" src="{{ request.recaptcha.script_api }}"></script>

      {% comment %}
        Adapted from https://stackoverflow.com/a/63290578/453168
      {% endcomment %}

      {% comment %}
        hidden input field will later send g-recaptcha token back to server
      {% endcomment %}
      <input type="hidden" name="{{ request.recaptcha.data_field }}" value="">

      <div class="pt-8">{% include "core/includes/recaptcha-text.html" %}</div>

      <script nonce="{{ request.csp_nonce }}">
        function recaptchaSubmit(event) {
          // checks the validity of the form. Return if invalid; HTML5 validation errors should display
          if (!event.currentTarget.form.checkValidity()) {
            return;
          }
          // form is client-side valid; taking over the remainder of processing
          event.preventDefault();

          // assign to a variable since `event.currentTarget` will be null inside the `grecaptcha.execute` Promise.
          // https://developer.mozilla.org/en-US/docs/Web/API/Event/currentTarget
          let currentTarget = event.currentTarget;

          grecaptcha.ready(function() {
            grecaptcha.execute("{{ request.recaptcha.site_key }}", { action: "submit" }).then(function(token) {
                // add the token to hidden form element
                currentTarget.form.elements["{{ request.recaptcha.data_field }}"].value = token;
                // trigger the custom "submitting" event
                // since calling .submit() does not trigger the "submit" event
                // hence the normal handler won't apply
                const customEvent = new CustomEvent("submitting");
                currentTarget.form.dispatchEvent(customEvent);
                // submit the form to server
                currentTarget.form.submit(currentTarget);
            });
          });
        };

        // bind the above handler to button click
        document.querySelector("#{{ form.id }} button[type=submit]").addEventListener("click", recaptchaSubmit);
      </script>
    {% endif %}

    {% block extra-scripts %}
    {% endblock extra-scripts %}
  </form>
{% endif %}
