{% comment %}
  the majority of the forms in the app are driven by ./form.html

  the logic in this file was extracted so that it could also be shared with ./form--select-agency (TK)
  which is a (simple) snowflake with bespoke styling

  the functionality here includes:
  * wiring up custom validation messaging (when enabled)
  * recaptchas (when enabled)
{% endcomment %}

{% block content %}
  <script nonce="{{ request.csp_nonce }}">
    ready(function() {
        let form = document.querySelector("#{{ form.id }}");

        let button = document.querySelector("#{{ form.id }} button[type=submit]");
        if (!button) {
          button = document.querySelector("button[type=submit][form={{ form.id }}]")
        }

        // listen for a custom "submitting" event on the form, for button interactions
        form.addEventListener("submitting", function(e) {
          if ("{{ form.submitting_value }}" !== "") {
            let buttonClasses = button.classList;
            buttonClasses.remove("spinner-hidden");
            buttonClasses.add("disabled");
            button.setAttribute("role", "status");
            button.setAttribute("disabled", "true");
            button.children[0].textContent = "{{ form.submitting_value }}";
          }
        });

        // on normal form submit, trigger the custom "submitting" event
        form.addEventListener("submit", function(e) {
          const event = new CustomEvent("submitting");
          form.dispatchEvent(event);
        });

        {% if form.use_custom_validity %}
        const validate = function(inputElement) {
          inputElement.setCustomValidity(""); // clearing message sets inputElement.validity.customError back to false

          const valid = inputElement.checkValidity();
          if (!valid) {
            inputElement.setCustomValidity(inputElement.dataset.customValidity);
          }
        }

        button.addEventListener("click", function(e) {
          // revalidate all fields
          document.querySelectorAll("[data-custom-validity]").forEach((element) => {
            if (element) {
              validate(element);
            }
          });
        });

        {% endif %}
    });
  </script>

  {% if request.recaptcha %}
    {% include "core/includes/recaptcha.html" %}
  {% endif %}
{% endblock content %}
