{% if form.action_url %}

{% url form.action_url as form_action %}

<form action="{{ form_action }}" method="{{ form.method | default:"post" | upper }}" role="form">
    {% csrf_token %}

    {% for field in form %}
    {% if field.errors %}
    <div class="form-group with-errors">
    {% else %}
    <div class="form-group">
    {% endif %}

        {% if field.label %}
        <label for="{{ field.id_for_label }}" class="form-control-label">
            {{ field.label }}
            {% if field.field.required %}<span class="required-label">*</span>{% endif %}
        </label>
        {% endif %}

        {{ field }}

        {% if field.help_text %}
        <small class="form-text text-muted">
            {{ field.help_text }}
        </small>
        {% endif %}

        {% if field.errors %}
        <div class="error-message">
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if form.submit_value %}
    <div class="form-group">
        <input type="submit" class="btn btn-lg btn-primary" value="{{ form.submit_value }}">
    </div>
    {% endif %}

    <script>
        $(function(){
            $("form[action='{{form_action}}']").on("submit", function(e) {
                $(".form-group", this).removeClass("with-errors");
                $(".error-message", this).remove();

                if ("{{ form.submitting_value }}" !== "") {
                    var loading = $("<button />")
                        .addClass("btn btn-lg btn-primary text-center")
                        .attr("role", "status")
                        .attr("disabled", "true")
                        .append(
                            $("<span />").text("{{ form.submitting_value }}")
                        );

                    $("input[type=submit]", this).replaceWith(loading);
                }
            });
        });
    </script>
</form>

{% endif %}
