{% load i18n %}

<h2 class="pt-8" id="mst-courtesy-card">{% translate "What is a Courtesy Card?" %}</h2>
<p class="pt-4">
  {% blocktranslate trimmed %}
    Courtesy Cards are issued by Monterey-Salinas Transit to riders who qualify for a number of reduced fare programs.
    This website is a demonstration tool to support the Courtesy Card program. This benefit may need to be renewed in the
    future based on the expiration date of the Courtesy Card. Learn more at the
    <a href="https://mst.org/riders-guide/how-to-ride/courtesy-card/" target="_blank" rel="noopener noreferrer">MST Riders Guide</a>.
  {% endblocktranslate %}
</p>
