{% load i18n %}

<h2 class="h2-sm pt-4 pt-lg-8" id="mst-courtesy-card">{% translate "What is a Reduced Fare Mobility ID?" %}</h2>
<p class="pt-2 pt-lg-4">
    {% blocktranslate trimmed %}
        The Santa Barbara Metropolitan Transit District issues Reduced Fare Mobility ID cards to eligible riders. This transit benefit may need to be renewed in the future based on the expiration date of the Reduced Fare Mobility ID. Learn more at the <a href="https://sbmtd.gov/fares-passes/" target="_blank" rel="noopener noreferrer">SBMTD Fares & Passes</a>.
    {% endblocktranslate %}
</p>
