{% load i18n %}

<h2 class="h2-sm pt-4 pt-lg-8" id="mst-courtesy-card">{% translate "What is a Courtesy Card?" %}</h2>
<p class="pt-2 pt-lg-4">
  {% blocktranslate trimmed %}
    Monterey-Salinas Transit issues Courtesy Cards to riders who qualify for a number of reduced fare programs. This transit benefit may need to be renewed in the future based on the expiration date of the Courtesy Card. Learn more at the <a href="https://mst.org/riders-guide/how-to-ride/courtesy-card/" target="_blank" rel="noopener noreferrer">MST Riders Guide</a>.
  {% endblocktranslate %}
</p>
