
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% comment %}
The following assumes there are only 2 supported languages
A single button is presented to toggle between them
If more language support is added, the hidden input can be replaced by a select
{% endcomment %}

{% for code, lang in LANGUAGES %}
  {% if code != LANGUAGE_CODE %}
    <form method="post" action="{% url "set_language" %}">
      {% csrf_token %}
      {% get_language_info for code as langinfo %}
      <input name="language" type="hidden" value="{{ code }}" />
      <button class="btn btn-lg btn-outline-light" type="submit">{{ langinfo.name_local | capfirst }}</button>
    </form>
  {% endif %}
{% endfor %}
