<div class="box container mt-lg-5">
  <p class="p fs-6 fw-normal mb-lg-3">
    Ride across {{ active_agencies|length }} agenc{{ active_agencies|pluralize:"y,ies" }} (and growing!)
  </p>
  <div class="row">
    {% for agency in active_agencies %}
      <!-- temporary loop to simulate more agencies -->
      {% for letter in 'Jumboization'|make_list %}
        <div class="col">
          <!-- TODO: ensure neither square nor rectangle logos are distorted -->
          <img src="{{ agency.logo_small_url }}" width="52" height="36" alt="{{ agency.short_name }} logo">
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
