<li class="media d-flex align-items-stretch w-auto">
    <div class="media-line">
        {% block icon %}
        {% endblock icon %}
    </div>
    <div class="media-body">
        {% block heading_wrapper %}
            <{{ heading_tag|default:"h3" }} class="media-body--heading h3">
            {% block heading %}
            {% endblock heading %}
            </{{ heading_tag|default:"h3" }}>
        {% endblock heading_wrapper %}
        {% block body %}
        {% endblock body %}
    </div>
</li>
