<ul class="media-list mx-0 px-0 d-flex justify-content-center flex-column">
    {% for item in media %}
        <li class="media d-flex align-items-stretch w-auto">
            <div class="media-line">{% include "core/includes/icon.html" with icon=item.icon %}</div>
            <div class="media-body">
                {% if item.heading %}<h3 class="media-body--heading">{{ item.heading }}</h3>{% endif %}
                {% if item.details|length %}
                    <div class="media-body--details">
                        {% for d in item.details %}<p>{{ d }}</p>{% endfor %}
                        {% if item.bullets|length %}
                            <div class="media-body--items">
                                <ul>
                                    {% for l in item.bullets %}<li>{{ l }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
