<ul class="media-list">
    {% for item in media %}
        <li class="media">
            <div class="media-line">{% include "core/includes/icon.html" with icon=item.icon %}</div>
            <div class="media-body">
                <h3 class="media-body--heading">{{ item.heading }}</h3>
                <div class="media-body--details">
                    <p>{{ item.details }}</p>
                    <div class="media-body--items">
                        <ul>
                            {% for l in item.bullets %}<li>{{ l }}</li>{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
