{% extends "core/includes/modal.html" %}
{% load i18n %}
{% load static %}

{% block modal-content %}
    <div class="container text-center">
        <h3 id="{{ aria_labelledby_id }}" class="modal-title h1 p-0 mb-4 pb-lg-2s text-center">
            {% translate "Please choose your transit provider:" %}
        </h3>
        <div class="card-row row d-flex flex-column flex-lg-row text-start text-lg-center justify-content-center">
            {% for agency in active_agencies %}
                <a href="{{ agency.eligibility_index_url }}" class="card m-0 d-inline-block">
                    <div class="card-body d-flex flex-row-reverse flex-lg-column justify-content-center align-items-center">
                        <img class="sm d-lg-none ms-auto"
                             src="{% get_static_prefix %}img/agencies/{{ agency.slug }}-sm.svg"
                             width="52"
                             height="36"
                             alt="{% blocktranslate with agency=agency.short_name %}{{ agency }} logo{% endblocktranslate %}">
                        <img class="lg d-none d-lg-block"
                             src="{% get_static_prefix %}img/agencies/{{ agency.slug }}-lg.svg"
                             width="148"
                             height="72"
                             alt="{% blocktranslate with agency=agency.short_name %}{{ agency }} logo{% endblocktranslate %}">
                        <h4 class="mt-lg-2 mb-0">{{ agency.long_name }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock modal-content %}
