<!-- Modal -->
{% with id|add:"-modal-label" as aria_labelledby_id %}
    <div class="modal fade modal-info" id="{{ id }}" tabindex="-1" aria-labelledby="{{ aria_labelledby_id }}" aria-hidden="true">
        <div class="modal-dialog {{ size }} modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0 p-md-2 p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-md-3 mb-md-3 mx-md-3 py-0 pt-0">
                    {% block modal-content %}
                    {% endblock modal-content %}
                </div>
            </div>
        </div>
    </div>
{% endwith %}
