{% extends "core/includes/selection-label.html" %}
{% load i18n %}

{% block label %}
    {% translate "eligibility.pages.index.senior.label" %}
{% endblock label %}

{% block description %}
    {% translate "eligibility.pages.index.senior.description" %}

    <!-- Button to trigger modal -->
    <button id="login" type="button" class="modal-trigger--link" data-bs-toggle="modal" data-bs-target="#login-gov-help">
        <span class="fallback-text color-logo">Login.gov</span>
    </button>

    {% include "eligibility/includes/modal--login-gov-help.html" with id="login-gov-help" %}
{% endblock description %}
