<div class="d-grid gap-2 mt-lg-5">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-lg btn-primary" type="submit" value="Next">
  </form>
</div>

{% csrf_token %}
<script nonce="{{ request.csp_nonce }}">
  // this is brittle
  const select = document.querySelector("#id_select_transit_agency")
  select.addEventListener("change", function () {
    const idx = select.selectedIndex
    const span = document.querySelector('.discrete-span')
    // if the django_language cookie was accessible to JS we could re-translate...
    span.innerText = idx === 0 ? 'public transit' : select[idx].innerText
  });
</script>
