
{% load i18n %}

{% comment %} {% if authentication %}
{% if authentication.required and authentication.logged_in %} {% endcomment %}
  <div class="w-100 position-absolute">
    <div class="container">
      <div class="row" style="height: 70px;">
        <div class="col-12 d-flex align-items-center justify-content-end">
          <a class="signout-link" href="{{ authentication.sign_out_route }}">
            {% comment %} {% translate authentication.sign_out_button_label %} {% endcomment %}
            Sign out from Login.gov
          </a>
        </div>
      </div>
    </div>
  </div>
  {% comment %} {% endif %}
  {% endif %} {% endcomment %}
