name: Label actions

on:
  pull_request:
    types: [opened]
    paths:
      - '.github/dependabot.yml'
      - '.github/lighthouserc.json'
      - '.github/workflows/**'

jobs:
  label-actions:
    runs-on: ubuntu-latest
    steps:
      - name: add-label
        uses: andymckay/labeler@master
        with:
          add-labels: "actions"
