name: Cypress tests

on: push

defaults:
  run:
    shell: bash

jobs:
  tests-cypress:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Start app
        run: |
          cp .env.sample .env
          docker compose up --detach server
          docker compose run --detach --service-ports client bin/test_start.sh

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_baseUrl: http://localhost:8000
        with:
          command: npm test
          working-directory: tests/cypress
          wait-on: http://localhost:8000/healthcheck

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: tests/cypress/screenshots
